{% extends 'base.html' %}
{% load i18n static kala_tags %}

{% block projects_class %}active{% endblock %}
{% block content %}
    <div class="repo ribbon">
        <div class="ui container">
            <div class="ui big breadcrumb">
                <a class="section" href="{% url 'organizations:organization' project.organization.pk %}">{{ project.organization }}</a>
                <div class="divider"> /</div>
                <a class="section" href="{% url 'projects:project' project.pk %}">{{ project }}</a>
                <div class="divider"> /</div>
                <span class="active section">{{ document }}</span>
            </div>
        </div>

        <div class="ui tabular menu">
            <div class="ui container">
                <a class="active item">
                    <i class="git branch icon"></i>
                    {% trans 'Versions' %}
                </a>
                {% if can_invite %}
                <a class="item" href="{% url 'projects:document_invite_user' project.pk document.pk %}">
                    <i class="person icon"></i>
                    {% trans 'Invite User' %}
                </a>
                {% endif %}
                {% if can_change %}
                <a class="item" href="{% url 'projects:document_details' project.pk document.pk %}">
                    <i class="gear icon"></i>
                    {% trans 'Settings' %}
                </a>
                {% endif %}
            </div>
        </div>

    </div>

    <div class="ui container">
        <div class="repo title">
            <div class="repo options">
                <a class="ui compact button" href="{% url 'projects:export_document' project.pk document.pk %}">
                    {% trans 'Download ZIP' %}
                </a>
            </div>
            {% if can_create %}
            <a class="ui positive compact icon button" href="{% url 'projects:new_version' project.pk document.pk %}">
                + {% trans 'New version' %}
            </a>
            {% else %}
                <p>{% trans 'You do not have permission to create new versions for this document.' %}</p>
            {% endif %}
        </div>
        <div class="ui divider">
        </div>
        {% if messages %}
            <div class="ui success message">
                <i class="close icon"></i>
                <ul class="messages" style="margin-top: 0">
                    {% for message in messages %}
                        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
        <div class="ui container">
            <div class="ui cards">
                {% for documentversion in document.documentversion_set.all %}
                    <div class="ui card">
                        <a href="{% url 'projects:download' project.pk document.pk documentversion.uuid %}">

                        <div class="ui fade reveal image">
                            <img class="visible content" style="background-color: #f3f3f3"
                                 src="{% static documentversion.get_icon %}"
                                 alt="{{ documentversion.get_alt }}">
                            <img class="hidden content" src="{% static "images/icons/android-download.png" %}"
                                 alt="{{ documentversion.get_alt }}">
                        </div>
                        </a>
                        <div class="content">
                            <a class="header" style="word-wrap: break-word;">{{ documentversion.name }}</a>
                            <div class="meta">
                                <span class="date">Created on {{ documentversion.created }}</span>
                                by {{ documentversion.user }}
                            </div>
                            {% if documentversion.description %}
                                <div class="description" style="word-wrap: break-word;">
                                    {{ documentversion.description }}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    {% empty %}
                    <div class="ui container">{% trans 'There are no documents uploaded for this project.' %}</div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock content %}
