{% extends 'base.html' %}
{% load i18n static kala_tags %}

{% block search_bar %}
    {% include 'projects/includes/project_search_bar.html' %}
{% endblock %}

{% block content %}
    {% include 'documents/includes/header.html' %}

    <div class="ui container">
        <div class="repo title">
            <div class="repo options">
                <a class="ui compact button" href="{% url 'projects:export_document' project.pk document.pk %}">
                    {% trans 'Download ZIP' %}
                </a>
            </div>
            {% if document|can_create:request.user %}
            <a class="ui positive compact icon button" href="{% url 'projects:new_version' project.pk document.pk %}">
                + {% trans 'New version' %}
            </a>
            {% else %}
                <p>{% trans 'You do not have permission to create new versions for this document.' %}</p>
            {% endif %}
        </div>
        <div class="ui divider">
        </div>
        {% if messages %}
            <div class="ui success message">
                <i class="close icon"></i>
                <ul class="messages" style="margin-top: 0">
                    {% for message in messages %}
                        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
        <div class="ui container">
            <div class="ui cards">
                {% for documentversion in document.documentversion_set.all %}
                    <div class="ui card">
                        <a href="{% url 'projects:download' project.pk document.pk documentversion.uuid %}">

                        <div class="ui fade reveal image">
                            <img class="visible content" style="background-color: #f3f3f3"
                                 src="{% static documentversion.get_icon %}"
                                 alt="{{ documentversion.get_alt }}">
                            <img class="hidden content" src="{% static "images/icons/android-download.png" %}"
                                 alt="{{ documentversion.get_alt }}">
                        </div>
                        </a>
                        <div class="content">
                            <a class="header" style="word-wrap: break-word;">{{ documentversion.name }}</a>
                            <div class="meta">
                                <span class="date">Created on {{ documentversion.created }}</span>
                                by {{ documentversion.user }}
                            </div>
                            {% if documentversion.description %}
                                <div class="description" style="word-wrap: break-word;">
                                    {{ documentversion.description }}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    {% empty %}
                    <div class="ui container">{% trans 'There are no documents uploaded for this project.' %}</div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock content %}
