{% extends 'base.html' %}
{% load i18n static kala_tags %}

{% block content %}
    <div class="repo ribbon">
        <div class="ui container">
            <div class="ui big breadcrumb">
                <h2>
                    <a class="section" href="{% url 'projects:document' project.pk document.pk %}">{{ document }}</a>
                    <div class="divider"> /</div>
                    <span class="active section">{% trans 'New Version' %}</span>
                </h2>
            </div>
        </div>
        <div class="ui divider"></div>
            {% if messages %}
                <div class="ui success message">
                    <i class="close icon"></i>
                    <ul class="messages" style="margin-top: 0">
                        {% for message in messages %}
                            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
    </div>

    <div class="ui one column grid container">
        <div class="twelve wide column">
            <form class="ui form {% if form.errors %}error{% endif %}" enctype="multipart/form-data" method="post">
                {% csrf_token %}
                <div class="field">
                    <label>{{ form.file.label }}</label>
                    {{ form.file }}
                    {% if form.file.errors %}
                    <div class="ui error message">
                        {{ form.file.errors }}
                    </div>
                    {% endif %}
                </div>
                <div class="field">
                    <label>{{ form.description.label }}</label>
                    {{ form.description }}
                    {% if form.description %}
                    <div class="ui error message">
                        {{ form.description.errors }}
                    </div>
                    {% endif %}
                </div>
                <button id="submit-button" class="ui button primary" type="submit">{% trans 'Create version' %}</button>
            </form>
        </div>
    </div>

    <div class="ui basic modal">
        <div class="ui icon header">
            <i class="organization icon"></i>
            {% trans 'Uploading document' %}
        </div>
        <div class="content">
            <p>{% trans 'Please wait while your document is being uploaded' %}</p>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script>
{#        $('.ui.basic.modal')#}
{#            .modal({#}
{#                closable: false#}
{#            })#}
{#            .modal('attach events', '#submit-button', 'show')#}
{#        ;#}
    </script>
{% endblock scripts %}
