{% extends 'base.html' %}
{% load i18n static kala_tags %}

{% block content %}
   {% include 'projects/includes/header.html' %}

    <div class="ui one column grid container">
        <div class="twelve wide column">
            <div class="repo ribbon">
                <div class="ui container">
                    <div class="ui big breadcrumb">
                        <h2 class="active section">{% blocktrans %}New Document{% endblocktrans %}
                        </h2>
                    </div>
                </div>
                <div class="ui divider"></div>
            </div>
            <form class="ui form {% if form.errors or version_form.errors %}error{% endif %}" enctype="multipart/form-data" method="post">
                {% csrf_token %}
                <div class="field">
                    <label>{{ version_form.file.label }}</label>
                    {{ version_form.file }}
                    {% if version_form.file.errors %}
                    <div class="ui error message">
                        {{ version_form.file.errors }}
                    </div>
                    {% endif %}
                </div>
                <div class="field">
                    <label>{{ version_form.description.label }}</label>
                    {{ version_form.description }}
                    {% if version_form.description.errors %}
                    <div class="ui error message">
                        {{ version_form.description.errors }}
                    </div>
                    {% endif %}
                </div>
                <div class="field">
                    <label>{{ form.category.label }}</label>
                    {{ form.category }}
                    {% if form.category.errors %}
                    <div class="ui error message">
                        {{ form.category.errors }}
                    </div>
                    {% endif %}
                </div>
                <div class="field">
                    <label>{{ form.tags.label }}</label>
                    <input type="hidden" name="tags" id="id_tags">
                    <input type="text" name="tags_input" id="id_tags_input" onkeyup="return handleTags(event)" placeholder="Type the tag, then press enter">
                    <div style="display: inline-block; padding-top: 10px;" id="tags"></div>
                    {% if form.tags.errors %}
                    <div class="ui error message">
                        {{ form.tags.errors }}
                    </div>
                    {% endif %}
                </div>
                <button id="submit-button" class="ui button primary" type="submit">{% trans 'Create document' %}</button>
            </form>
        </div>
    </div>

    <div class="ui basic modal">
        <div class="ui icon header">
            <i class="organization icon"></i>
            {% trans 'Uploading document' %}
        </div>
        <div class="content">
            <p>{% trans 'Please wait while your document is being uploaded' %}</p>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script>
{#        $('.ui.basic.modal')#}
{#            .modal({#}
{#                closable: false#}
{#            })#}
{#            .modal('attach events', '#submit-button', 'show')#}
{#        ;#}

        $('select.search.dropdown')
            .dropdown()
        ;
    </script>
    <script type="application/ecmascript">
        let tags = [];
        window.addEventListener('keydown', function (e) {
            if (e.keyIdentifier === 'U+000A' || e.keyIdentifier === 'Enter' || e.keyCode === 13) {
                if (e.target.nodeName === 'INPUT' && e.target.type === 'text') {
                    e.preventDefault();
                    return false;
                }
            }
        }, true);

        function handleTags(event) {
            event.preventDefault();
            if (event.which === 13) {
                let tagValue = $('#id_tags_input').val();
                tags.push(tagValue);
                $('#tags').append('<a class="ui blue tag label">' + tagValue + '<span class="delete icon" onclick="deleteTag(this)">X</span></a>');
                $('#id_tags').val(tags.join(','));
                $('#id_tags_input').val("");
            }
        }

        function deleteTag(element) {
            let index = $(element).parent().index();
            tags.splice(index, 1);
            $("#tags").children().eq(index).remove();
            $('#id_tags').val(tags.join(','));
        }

        $(document).ready(function () {
            {% for tag in document.tags.all %}
                var tagValue = "{{ tag }}";
                tags.push(tagValue);
                $('#tags').append('<a class="ui blue tag label">' + tagValue + '<span class="delete icon" onclick="deleteTag(this)">X</span></a>');
                $('#id_tags').val(tags.join(','));
            {% endfor %}
        })
    </script>
{% endblock scripts %}
