{% extends 'base.html' %}
{% load static %}
{% load kala_tags %}

{% block content %}
    <div class="repo ribbon">
        <div class="ui container">
            <div class="ui big breadcrumb">
                <h2>
                <a class="section" href="{% url 'projects:project' project.pk %}">{{ project }}</a>
                <div class="divider"> /</div>
                <span class="active section">New Document</span>

                </h2>
            </div>
        </div>
    <div class="ui divider"></div>
    </div>

    <div class="ui one column grid container">
        <div class="twelve wide column">
            <form class="ui form" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="field">
                    <label>{{ version_form.file.label }}</label>
                    {{ version_form.file }}
                </div>
                <div class="field">
                    <label>{{ version_form.description.label }}</label>
                    {{ version_form.description }}
                </div>
                <div class="field">
                    <label>{{ form.category.label }}</label>
                    {{ form.category }}
                </div>
                <div class="field">
                    <label>{{ form.tags.label }}</label>
                    {{ form.tags }}
                </div>
                <button id="submit-button" class="ui button primary" type="submit">Create document</button>
            </form>
        </div>
    </div>

    <div class="ui basic modal">
        <div class="ui icon header">
            <i class="organization icon"></i>
            Uploading document
        </div>
        <div class="content">
            <p>Please wait while your document is being uploaded</p>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        $('.ui.basic.modal')
            .modal({
                closable  : false
            })
            .modal('attach events', '#submit-button', 'show')
        ;

        $('select.search.dropdown')
            .dropdown()
        ;
    </script>
{% endblock scripts %}
