{% extends 'base.html' %}
{% load static %}
{% load kala_tags %}

{% block content %}
    <div class="repo ribbon">
        <div class="ui container">
            <div class="ui big breadcrumb">
                <h2>
                    <a class="section" href="{% url 'projects:document' project.pk document.pk %}">{{ document }}</a>
                    <div class="divider"> /</div>
                    <span class="active section">New Version</span>
                </h2>
            </div>
        </div>
        <div class="ui divider"></div>
    </div>

    <div class="ui one column grid container">
        <div class="twelve wide column">
            <form class="ui form" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="field">
                    <label>{{ form.file.label }}</label>
                    {{ form.file }}
                </div>
                <div class="field">
                    <label>{{ form.description.label }}</label>
                    {{ form.description }}
                </div>
                <button id="submit-button" class="ui button primary" type="submit">Create version</button>
            </form>
        </div>
    </div>

    <div class="ui basic modal">
        <div class="ui icon header">
            <i class="organization icon"></i>
            Uploading document
        </div>
        <div class="content">
            <p>Please wait while your document is being uploaded</p>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        $('.ui.basic.modal')
            .modal({
                closable: false
            })
            .modal('attach events', '#submit-button', 'show')
        ;
    </script>
{% endblock scripts %}
