{% extends 'base.html' %}
{% load i18n static kala_tags %}

{% block content %}
    <div class="repo ribbon">
        <div class="ui container">
            <div class="ui big breadcrumb">
                <h2 class="active section">{% trans 'Invite User' %}
                </h2>
            </div>
        </div>
        <div class="ui divider"></div>
    </div>
    <div class="ui one column grid container">
        <div class="twelve wide column">
            <form class="ui form {% if form.errors %}error{% endif %}" method="post">
                {% csrf_token %}
                <div class="field">
                    <label>{{ form.email.label }}</label>
                    {{ form.email }}
                    {% if form.email.errors %}
                    <div class="ui error message">
                        {{ form.email.errors }}
                    </div>
                    {% endif %}
                </div>
                <div class="field">
                    <label>{{ form.first_name.label }}</label>
                    {{ form.first_name }}
                    {% if form.first_name.errors %}
                    <div class="ui error message">
                        {{ form.first_name.errors }}
                    </div>
                    {% endif %}
                </div>
                <div class="field">
                    <label>{{ form.last_name.label }}</label>
                    {{ form.last_name }}
                    {% if form.last_name.errors %}
                    <div class="ui error message">
                        {{ form.last_name.errors }}
                    </div>
                    {% endif %}
                </div>
                <div class="field">
                    <label>{{ form.organizations.label }}</label>
                    {{ form.organizations }}
                    {% if form.organizations.errors %}
                    <div class="ui error message">
                        {{ form.organizations.errors }}
                    </div>
                    {% endif %}
                </div>
                <div class="field">
                    <label>{{ form.user_type.label }}</label>
                    {{ form.user_type }}
                    {% if form.user_type.errors %}
                    <div class="ui error message">
                        {{ form.user_type.errors }}
                    </div>
                    {% endif %}
                </div>
                <button id="submit-button" class="ui button primary" type="submit">Invite user</button>
            </form>
        </div>
    </div>

{% endblock %}

{% block scripts %}
    <script>
        $('.ui.dropdown')
            .dropdown()
        ;
    </script>
{% endblock scripts %}
