{% extends 'base.html' %}
{% load static %}
{% load kala_tags %}

{% block content %}
    <div class="repo ribbon">
        <div class="ui container">
            <div class="ui big breadcrumb">
                <h2 class="active section">Invite User
                </h2>
            </div>
        </div>
        <div class="ui divider"></div>
    </div>
    {{ form.errors }}
    <div class="ui one column grid container">
        <div class="twelve wide column">
            <form class="ui form" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="field">
                    <label>{{ form.email.label }}</label>
                    {{ form.email }}
                </div>
                <div class="field">
                    <label>{{ form.organizations.label }}</label>
                    {{ form.organizations }}
                </div>
                <button id="submit-button" class="ui button primary" type="submit">Invite user</button>
            </form>
        </div>
    </div>

{% endblock %}

{% block scripts %}
    <script>
        $('.ui.dropdown')
            .dropdown()
        ;
    </script>
{% endblock scripts %}
