{% load static %}
<!DOCTYPE html>
<html>
<head>
    <!-- Standard Meta -->
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

    <!-- Always Use Same -->
    <link rel="stylesheet" type="text/css" href="{% static "css/ui/components/icon.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/ui/components/image.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/ui/components/transition.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/ui/components/checkbox.css" %}">

    <!--
      These css files are pre-compiled
      to test out gulp
      use static.html, run gulp from semantic/, and modify theme.config or variables
    !-->
    <link rel="stylesheet" rel="stylesheet" type="text/css" href="{% static "css/ui/components/material/form.css" %}">
    <link class="themable" rel="stylesheet" type="text/css"
          href="{% static "css/ui/components/material/accordion.css" %}">
    <link class="themable" rel="stylesheet" type="text/css"
          href="{% static "css/ui/components/material/checkbox.css" %}">
    <link class="themable" rel="stylesheet" type="text/css" href="{% static "css/ui/components/material/reset.css" %}">
    <link class="themable" rel="stylesheet" type="text/css" href="{% static "css/ui/components/material/site.css" %}">
    <link class="themable" rel="stylesheet" type="text/css"
          href="{% static "css/ui/components/material/breadcrumb.css" %}">
    <link class="themable" rel="stylesheet" type="text/css" href="{% static "css/ui/components/material/button.css" %}">
    <link class="themable" rel="stylesheet" type="text/css" href="{% static "css/ui/components/material/card.css" %}">
    <link class="themable" rel="stylesheet" type="text/css"
          href="{% static "css/ui/components/material/container.css" %}">
    <link class="themable" rel="stylesheet" type="text/css"
          href="{% static "css/ui/components/material/divider.css" %}">
    <link class="themable" rel="stylesheet" type="text/css" href="{% static "css/ui/components/material/dimmer.css" %}">
    <link class="themable" rel="stylesheet" type="text/css"
          href="{% static "css/ui/components/material/dropdown.css" %}">
    <link class="themable" rel="stylesheet" type="text/css" href="{% static "css/ui/components/material/form.css" %}">
    <link class="themable" rel="stylesheet" type="text/css" href="{% static "css/ui/components/material/grid.css" %}">
    <link class="themable" rel="stylesheet" type="text/css" href="{% static "css/ui/components/material/header.css" %}">
    <link class="themable" rel="stylesheet" type="text/css" href="{% static "css/ui/components/material/input.css" %}">
    <link class="themable" rel="stylesheet" type="text/css" href="{% static "css/ui/components/material/label.css" %}">
    <link class="themable" rel="stylesheet" type="text/css" href="{% static "css/ui/components/material/list.css" %}">
    <link class="themable" rel="stylesheet" type="text/css" href="{% static "css/ui/components/material/menu.css" %}">
    <link class="themable" rel="stylesheet" type="text/css"
          href="{% static "css/ui/components/material/message.css" %}">
    <link class="themable" rel="stylesheet" type="text/css" href="{% static "css/ui/components/material/modal.css" %}">
    <link class="themable" rel="stylesheet" type="text/css" href="{% static "css/ui/components/material/popup.css" %}">
    <link class="themable" rel="stylesheet" type="text/css" href="{% static "css/ui/components/material/reveal.css" %}">
    <link class="themable" rel="stylesheet" type="text/css"
          href="{% static "css/ui/components/material/segment.css" %}">
    <link class="themable" rel="stylesheet" type="text/css" href="{% static "css/ui/components/material/table.css" %}">

    <link rel="stylesheet" type="text/css" href="{% static "css/global.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/layouts/theme.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/layouts/home.css" %}">
    <!-- Site Properties -->

    <!-- JS Includes -->
    <script src="{% static "javascript/library/jquery.min.js" %}"></script>
    <script src="{% static "css/ui/semantic.min.js" %}"></script>
    <script src="{% static "css/ui/components/form.js" %}"></script>
    <script src="{% static "css/ui/components/modal.js" %}"></script>
    <script src="{% static "css/ui/components/transition.js" %}"></script>

    <style type="text/css">
        body {
            background-color: #DADADA;
        }

        body > .grid {
            height: 100%;
        }

        .image {
            margin-top: -100px;
        }

        .column {
            max-width: 450px;
        }
    </style>
    <script>
        $(document)
            .ready(function () {
                $('.ui.form')
                    .form({
                        fields: {
                            email: {
                                identifier: 'id_username',
                                rules: [
                                    {
                                        type: 'empty',
                                        prompt: 'Please enter your e-mail'
                                    },
                                    {
                                        type: 'email',
                                        prompt: 'Please enter a valid e-mail address'
                                    }
                                ]
                            },
                            password: {
                                identifier: 'id_password',
                                rules: [
                                    {
                                        type: 'empty',
                                        prompt: 'Please enter your password'
                                    }
                                ]
                            }
                        }
                    })
                ;
            })
        ;
    </script>
</head>
<body>

<div class="ui middle aligned center aligned grid">
    <div class="column">
        <h2 class="ui teal image header">
            <img src="{% static 'images/malolo.png' %}" class="image">


            <h3 class="content">
                Log-in to Kala Document Management
            </h3>
        </h2>
        <form class="ui large form {% if form.non_field_errors %}error{% endif %}" method="post" action="{% url 'users:login' %}" novalidate>
            {% csrf_token %}
            <div class="ui stacked segment">
                <div class="field">
                    <div class="ui left icon input">
                        <i class="person icon"></i>
                        <input type="text" id="id_username" name="username" value=""
                               placeholder="{% if form.username.errors %}{{ form.username.errors.0 }}{% else %}Email{% endif %}"
                               class="login username-field"/>
                    </div>
                </div>
                <div class="field">
                    <div class="ui left icon input">
                        <i class="lock icon"></i>
                        <input type="password" id="id_password" name="password" value=""
                               placeholder="{% if form.password.errors %}{{ form.password.errors.0 }}{% else %}Password{% endif %}"
                               class="login password-field"/>
                    </div>
                </div>
                <button type="submit" class="ui fluid large teal submit button">Login</button>
            </div>

            <div class="ui error message">
                <ul class="list">
                    {% for error in form.non_field_errors %}
                        <li>
                            {{ error }}
                        </li>
                        {% empty %}
                        <li>
                            Could not authenticate with your email and password.
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </form>
    </div>
</div>

</body>

</html>

