{% extends 'base.html' %}
{% load i18n static %}

{% block projects_class %}active{% endblock %}
{% block content %}
    <div class="repo ribbon">
        <div class="ui container">
            <div class="ui big breadcrumb">
                <span class="active section">{% trans 'Users' %}</span>
            </div>
        </div>
    </div>

    <div class="ui tabular menu">
        <div class="ui container">
            <a class="active item" href="{% url 'users:users' %}">
                <i class="organization icon"></i>
                {% trans 'Users' %}
            </a>
{#            <a class="item">#}
{#                <i class="merge icon"></i>#}
{#                Merge users#}
{#            </a>#}
        </div>
    </div>

    <div class="ui container">
        <div class="repo title">
            <div class="repo options">
                <div class="ui labeled button">
                    <div class="ui compact floating watch dropdown button" data-content="Choose display options">
                        <input type="hidden" value="watching">
                        <i class="checklist icon"></i> {% trans 'Filter' %}
                        <i class="dropdown icon"></i>
                        <div class="menu" id="organization-menu">
                            {% for organization in organizations %}
                                <div class="item" >
                                    <h4 data-value="{{ organization }}">{{ organization }}</h4>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            {% if request.user.is_superuser %}
                <a class="ui positive compact icon button" href="{% url 'users:invite_user' %}">
                    + {% trans 'Invite user' %}
                </a>
            {% endif %}
        </div>
        <div class="ui divider">
        </div>
        <div class="ui container">
            <div class="ui cards">
                {% for user in users %}
                    <div class="card">
                        <div class="content">
                            <img class="right floated avatar ui image" src="{{ user.avatar_url }}">
                            <div class="header">
                                {% if request.user.is_superuser %}
                                    <a href="{% url 'users:details' user.pk %}">
                                        {{ user }}
                                    </a>
                                {% else %}
                                    {{ user }}
                                {% endif %}
                            </div>
                            <div class="description">
                                <a href="mailto:{{ user.email }}">{{ user.email }}</a>
                            </div>
                        </div>
                    </div>
                    {% empty %}
                    <div class="ui container">{% trans 'There are no users.' %}</div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock content %}

{% block scripts %}
    <script>
        $('.dropdown')
            .dropdown({
                direction: 'upward'
            })
        ;
        var queryParameters = {}, queryString = location.search.substring(1),
        re = /([^&=]+)=([^&]*)/g, m;

        // Creates a map with the query string parameters
        while (m = re.exec(queryString)) {
            queryParameters[decodeURIComponent(m[1])] = decodeURIComponent(m[2]);
        }
        $('#organization-menu h4').click(function (item) {
            queryParameters['organization'] = item.toElement.dataset['value'];
            location.search = $.param(queryParameters);
        });
        $('#sort-menu h4').click(function (item) {
            queryParameters['sort'] = item.toElement.dataset['value'];
            location.search = $.param(queryParameters);
        });
    </script>
{% endblock scripts %}
