{% extends 'base.html' %}
{% load static %}
{% load kala_tags %}

{% block content %}
    <div class="repo ribbon">
        <div class="ui container">
            <div class="ui big breadcrumb">
                <a class="section">{{ project.company }}</a>
                <div class="divider"> /</div>
                <a class="active section">{{ project }}</a>
            </div>
        </div>
    </div>

    <div class="ui tabular menu">
        <div class="ui container">
            <a class="item" href="{% url 'projects:project' project.pk %}">
                <i class="book icon"></i>
                Documents
            </a>
            <a class="item">
                <i class="issue opened icon"></i>
                Issues
                <span class="ui small label">593</span>
            </a>
            <a class="active item" href="{% url 'projects:details' project.pk %}">
                <i class="gear icon"></i>
                Settings
            </a>
        </div>
    </div>


    <div class="ui two column grid container">
        <div class="four wide column">
            <div class="ui vertical menu">
                <div class="item">
                    <div class="header">Project</div>
                    <div class="menu">
                        <a class="item" href="{% url 'projects:details' project.pk %}">Details</a>
                        <a class="item" href="{% url 'projects:archive' project.pk %}">Archive</a>
                    </div>
                </div>
                <div class="item">
                    <div class="header">People</div>
                    <div class="menu">
                        <a class="item" href="{% url 'projects:manage_access' project.pk %}">Manage access</a>
                    </div>
                </div>
                <div class="item">
                    <div class="header">Organizations</div>
                    <div class="menu">
                        <a class="active item" href="{% url 'projects:transfer_ownership' project.pk %}">Transfer
                            ownership</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="twelve wide column">
            <form id="form" class="ui form" method="post">
                {% csrf_token %}
                <div class="field">
                    <label>{{ form.company.label }}</label>
                    {{ form.company }}
                </div>
                <button id="submit-button" class="ui button primary" type="button">Transfer ownership</button>
            </form>
            <div class="ui basic modal">
                <div class="ui icon header">
                    <i class="organization icon"></i>
                    Transfer Project Ownership
                </div>
                <div class="content">
                    <p>Are you sure that you want to transfer this project to another organization?</p>
                </div>
                <div class="actions">
                    <div class="ui red basic cancel inverted button">
                        <i class="trashcan icon"></i>
                        No
                    </div>
                    <div class="ui green ok inverted button">
                        <i class="check icon"></i>
                        Yes
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

{% block scripts %}
    <script>
        $('.ui.basic.modal')
            .modal({
                onApprove: function () {
                    $('form').submit();
                }
            })
            .modal('attach events', '#submit-button', 'show')
        ;

        $('select.search.dropdown')
            .dropdown()
        ;
    </script>
{% endblock scripts %}
