*.pyc
.*
*~
settings.py
kala/documents
kala/media
docs/_build
.venv
celerybeat-schedule
reload
MANIFEST
django_kala/django_kala/static/admin
django_kala/django_kala/static/debug_toolbar
django_kala/django_kala/static/rest_framework
deploy/build
components/dist/
components/node_modules/
