boto3
dateparser
Django>=1.11,<2.0
django-countries
django-localflavor-us
django-storages
django-taggit
django-timezone-field
djangorestframework
packaging
psycopg2
pyparsing
pytz
ipython
six
defusedxml
