boto3
celery
dateparser
Django>=3.0,<3.1
django-countries
django-localflavor-us
django-taggit
django-timezone-field
djangorestframework
packaging
pillow
psycopg2-binary
pycurl
pyparsing
pytz
ipython
requests
six
defusedxml
