dateparser
Django>=1.11,<2.0
django-countries==4.3
django-localflavor-us==1.1
django-timezone-field==2.0
djangorestframework==3.6.2
packaging==16.8
psycopg2==2.7.1
pyparsing==2.2.0
pytz==2017.2
six==1.10.0
defusedxml
