{% extends 'document_upload_base.html' %}
{% load static %}
{% load kala_tags %}
{% load pagination_tags %}

{% block projects_class %}active{% endblock %}

{% block content %}
    <div class="span12" xmlns="http://www.w3.org/1999/html">
        <div class="breadcrumb">
            <li><a href="{% url 'home' %}">Home</a> <span class="divider">/</span></li>
            <li><a href="{% url 'projects' %}">Projects</a> <span class="divider">/</span></li>
            <li><a href="{% url 'project' document.project.pk %}">{{ document.project }}</a> <span
                    class="divider">/</span></li>
            <li class="active">{{ document }}</li>
        </div>
    </div>

    <div class="span8">
        <div class="widget">
            <div class="widget-header">
                <i class="icon-edit"></i>

                <h3>{{ document.name }}</h3>
            </div>
            <!-- /widget-header -->
            <div id="documents" class="widget-content">
                <div>
                    <div style="float: left">
                        <img
                                {% if forloop.first %}
                                    id="document-image"
                                {% endif %}
                                    src="{% static document.get_icon %}" alt="{{ document.get_alt }}"
                                    style="width: 64px; height: 64px;"/>
                    </div>

                    <div style="margin-left: 75px;">
                        <h3
                                {% if forloop.first %}
                                    id="document-name"
                                {% endif %}>
                            {{ document.name }}
                            <a
                                    {% if forloop.first %}
                                        id="document-download"
                                    {% endif %}
                                        href="{% url 'download_document' document.uuid %}">
                                <i class="icon-download-alt" style="font-size: 16pt;"></i>
                            </a>
                        </h3>

                        {% if document.description %}
                            <h4 {% if forloop.first %}
                                id="document-description"
                            {% endif %}>
                                {{ document.description }}
                            </h4>
                        {% endif %}

                        {% if forloop.first %}
                            <div id="document-owner"></div>
                        {% endif %}
                        by {{ document.person|pretty_user }}
                        {% if forloop.first %}
                            <div id="document-created"></div>
                        {% endif %}
                        on {{ document.created|date:"M j" }}, {{ document.file.size|filesizeformat }}
                        <ul>
                            {% for version in document.list_versions %}
                                <li>
                                    <a href="{% url 'download_document' version.uuid %}">{{ version }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            <!-- /widget-content -->
        </div>
        <!-- /widget -->
    </div>
    <div class="span4">
        <div class="widget">
            <div class="widget-header">
                <h3>Options</h3>

            </div>
            <!-- /widget-header -->
            <div class="widget-content">
                <h3 id="new-document" style="border-bottom: 1px solid #ddd; margin-bottom: 10px;">Upload New
                    Version</h3>

                {% include "document_upload_form.html" %}
            </div>
        </div>
    </div>

    <div class="span4">
        <div class="widget">
            <div class="widget-header">
                <h3 id="mv-document">Move Document</h3>

            </div>
            <div class="widget-content">
                <p>To move the document to another project you may use the form below.</p>

                <form method="post" action="{% url 'document' document.pk %}">
                    {% csrf_token %}
                    <div id="file" class="control-group {% if form.file.errors %}error{% endif %}">
                        <div class="controls">
                            <div style="margin-left: 20px;">
                                <label class="control-label" for="id_file">Company:</label>
                                {{ project_form.project }}
                            </div>
                        </div>
                    </div>
                    <div class="form-actions">
                        <input type="submit" class="btn btn-large btn-primary" name="move"
                               value="Move Document">
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="span4">
        <div class="widget">
            <div class="widget-header">
                <h3 id="delete-document">Delete Document</h3>

            </div>
            <div class="widget-content">
                <p>To delete the document click on the link below. You can retrieve the document later by using the
                    project history page.</p>

                <form method="post" action="{% url 'document' document.pk %}">
                    {% csrf_token %}
                    <div class="form-actions">
                        <input type="submit" class="btn btn-large btn-danger" name="delete"
                               value="Delete Document">
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- /widget-content -->

{% endblock content %}

{% block tour %}
    <ol id="joyRideContent" style="display: none;">
        <li data-id="documents">
            <p>If there are documents available for this project they will be listed below.</p>
        </li>

        <li data-id="document-image">
            <p>This image represents the type of file that has been uploaded, ie. word, powerpoint, etc...</p>
        </li>
        <li data-id="document-name">
            <p>This is the name of the document as it will appear on your computer.</p>
        </li>
        <li data-id="document-download">
            <p>To download the document, you can click on this link.</p>
        </li>
        <li data-id="document-description">
            <p>This is the textual description of the changes/purpose of this document.</p>
        </li>
        <li data-id="document-owner">
            <p>This is the name of the person that uploaded this document.</p>
        </li>
        <li data-id="document-created">
            <p>This is the date that this version of the document was uploaded.</p>
        </li>
        <li data-id="document-edit">
            <p>You can use this link to upload a new version of this document.</p>
        </li>

        {% if request.user.is_admin %}
            <li data-id="edit-permissions">
                <p>If you want to add or remove people from the project, you can do so by clicking on the edit
                    permissions.</p>
            </li>
        {% endif %}
        <li data-id="new-document">
            <p>To create a new document, you can use the form below.</p>
        </li>
        <li data-id="id_file">
            <p>Select the file that you wish to upload by clicking on the browse button. This will bring up a file
                picker dialog, which you can use to select the document from your computer.</p>
        </li>
        <li data-id="id_description">
            <p>The description of a new document should either describe the original intents of a document, or the
                changes that you have made to an existing document.</p>
        </li>
        <li data-id="upload">
            <p>When you are ready to create a new document, click the Create Document button and the document will be
                created. You will come back to this page once the document has been created.</p>
        </li>
    </ol>
{% endblock tour %}