{% extends 'base.html' %}
{% load i18n static kala_tags %}

{% block content %}
    <div class="repo ribbon">
        <div class="ui container">
            <div class="ui big breadcrumb">
                <h2 class="active section">{% trans 'New Project' %}</h2>
            </div>
        </div>
        <div class="ui divider">
        </div>
    </div>

    <div class="ui one column grid container">
        <div class="twelve wide column">
                    {% if messages %}
                <div class="ui success message">
                    <i class="close icon"></i>
                    <ul class="messages" style="margin-top: 0">
                        {% for message in messages %}
                            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
            <form class="ui form {% if form.errors %}error{% endif %}" method="post">
                {% csrf_token %}
                <div class="field">
                    <label>{{ form.organization.label }}</label>
                    {{ form.organization }}
                    {% if form.organization.errors %}
                    <div class="ui error message">
                        {{ form.organization.errors }}
                    </div>
                    {% endif %}
                </div>
                <div class="field">
                    <label>{{ form.name.label }}</label>
                    {{ form.name }}
                    {% if form.name.errors %}
                    <div class="ui error message">
                        {{ form.name.errors }}
                    </div>
                    {% endif %}
                </div>
                <div class="field">
                    <label>{{ form.description.label }}</label>
                    {{ form.description }}
                    {% if form.description.errors %}
                    <div class="ui error message">
                        {{ form.description.errors }}
                    </div>
                    {% endif %}
                </div>
                <div class="field">
                    <label>{{ form.tags.label }}</label>
                    {{ form.tags }}
                    {% if form.tags.errors %}
                    <div class="ui error message">
                        {{ form.tags.errors }}
                    </div>
                    {% endif %}
                </div>
                <button class="ui button primary" type="submit">{% trans 'Create project' %}</button>
            </form>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        $('select.search.dropdown')
            .dropdown()
        ;
    </script>
{% endblock scripts %}
