{% extends 'base.html' %}
{% load static %}

{% block search_bar %}
    {% include 'projects/includes/project_search_bar.html' %}
{% endblock %}

{% block content %}
    <div class="repo ribbon">
        <div class="ui container">
            <div class="ui big breadcrumb">
                <a class="section"
                   href="{% url 'organizations:organization' project.organization.pk %}">{{ project.organization }}</a>
                <div class="divider"> /</div>
                <span class="active section">{{ project }}</span>
            </div>
        </div>

        <div class="ui tabular menu">
            <div class="ui container">
                <a class="active item">
                    <i class="book icon"></i>
                    Documents
                </a>
                {% if can_change %}
                    <a class="item" href="{% url 'projects:project_invite_user' project.pk %}">
                        <i class="person icon"></i>
                        Invite User
                    </a>
                    <a class="item" href="{% url 'projects:details' project.pk %}">
                        <i class="gear icon"></i>
                        Settings
                    </a>
                {% endif %}
            </div>
        </div>

    </div>

    <div class="ui container">
        <!-- Repo Content -->
        <div class="ui four item top attached borderless stats menu">
            <a class="item">
                <i class="book icon"></i>
                <b>{{ project.document_set.all.count }}</b> documents
            </a>
            <a class="item">
                <i class="git branch icon"></i>
                <b>{{ version_count }}</b> versions
            </a>
            <a class="item">
                <i class="tag icon"></i>
                <b>{{ project.category_set.all.count }}</b> categories
            </a>
            <a class="item">
                <i class="organization icon"></i>
                <b>{{ user_count }}</b> contributors
            </a>
        </div>
        <div class="ui bottom attached horizontal language segments">
            <div class="ui inverted yellow segment"></div>
            <div class="ui inverted purple segment"></div>
            <div class="ui inverted red segment"></div>
        </div>

        <div class="repo title">
            <div class="repo options">
                <a class="ui compact button" href="{% url 'projects:export_project' project.pk %}">
                    Download ZIP
                </a>
                <div class="ui labeled button">
                    <div class="ui compact floating watch dropdown button" data-content="Choose display options">
                        <input type="hidden" value="watching">
                        <i class="checklist icon"></i> Filter
                        <i class="dropdown icon"></i>
                        <div class="menu" id="category-menu">
                            <div class="item">
                                <h4 data-value="">No Filter</h4>
                            </div>
                            {% for category in project.category_set.all %}
                                <div class="item">
                                    <h4 data-value="{{ category }}">{{ category }}</h4>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="ui labeled button">
                    <div class="ui compact floating watch dropdown button" data-content="Choose display options">
                        <input type="hidden" value="watching">
                        <i class="checklist icon"></i> Sort
                        <i class="dropdown icon"></i>
                        <div class="menu" id="sort-menu">
                            <div class="item">
                                <h4 data-value="Alphabetically">Alphabetically</h4>
                            </div>
                            <div class="item">
                                <h4 data-value="Date">Date</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% if can_create %}
                <a class="ui positive compact icon button" href="{% url 'projects:new_document' project.pk %}">
                    + New document
                </a>
            {% else %}
                <p>You do not have permission to create new documents for this project.</p>
            {% endif %}
        </div>
        <div class="ui divider">
        </div>
        <div class="ui container">
            <div class="ui cards">
                {% for document in documents %}
                    <div class="ui card">
                        <a href="{% url 'projects:download' project.pk document.pk document.documentversion_set.all.0.uuid %}">
                            <div class="ui fade reveal image">
                                <img class="visible content" style="background-color: #f3f3f3"
                                     src="{% static document.documentversion_set.all.0.get_icon %}"
                                     alt="{{ document.documentversion_set.all.0.get_alt }}">
                                <img class="hidden content" src="{% static "images/icons/android-download.png" %}"
                                     alt="{{ document.documentversion_set.all.0.get_alt }}">
                            </div>
                        </a>
                        <div class="content">
                            <a class="header" style="word-wrap: break-word;"
                               href="{% url 'projects:document' project.pk document.pk %}">{{ document.name }}</a>
                            <div class="meta">
                                {% if document.documentversion_set.all.count == 1 %}
                                    <span class="date">Created on {{ document.date }}</span>
                                {% else %}
                                    <span class="date">Updated on {{ document.date }}</span>
                                {% endif %}
                                by {{ document.documentversion_set.all.0.user }}
                            </div>
                            {% if document.documentversion_set.all.0.description %}
                                <div class="description" style="word-wrap: break-word;">
                                    {{ document.documentversion_set.all.0.description }}
                                </div>
                            {% endif %}
                        </div>
                        <div class="extra content">
                            <div class="ui top left pointing dropdown">
                                <i class="git branch icon"></i>
                                <span class="text">Versions {{ document.documentversion_set.all.count }}</span>
                                <div class="menu">
                                    <div class="header">
                                        Download version
                                        <div class="ui divider"></div>
                                    </div>
                                    <div class="item">
                                        <div class="ui relaxed divided list">
                                            {% for document_version in document.documentversion_set.all %}
                                                <div class="item">
                                                    <div class="content">
                                                        <a class="header"
                                                           href="{% url 'projects:download' project.pk document_version.document.pk document_version.uuid %}">{{ document_version.name }}</a>
                                                        <div class="description">By {{ document_version.user }} on
                                                            {{ document_version.created|date:"SHORT_DATETIME_FORMAT" }}</div>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="ui divider"></div>
                            <a class="ui compact button primary"
                               href="{% url 'projects:new_version' project.pk document.pk %}">
                                + New version
                            </a>
                        </div>
                    </div>
                    {% empty %}
                    <div class="ui container">There are no documents uploaded for this project.</div>
                {% endfor %}

            </div>

            <div class="ui divider"></div>

            <div class="ui pagination menu">
                {% for page in page_range %}
                    <a class="{% if page == current_page %}active{% endif %} item"
                       href="{% url 'projects:project' project.pk %}?page={{ page }}">
                        {{ page }}
                    </a>
                {% endfor %}
            </div>
        </div>

    </div>
{% endblock content %}

{% block scripts %}
    <script>
        var queryParameters = {}, queryString = location.search.substring(1),
            re = /([^&=]+)=([^&]*)/g, m;

        // Creates a map with the query string parameters
        while (m = re.exec(queryString)) {
            queryParameters[decodeURIComponent(m[1])] = decodeURIComponent(m[2]);
        }

        $('.dropdown')
            .dropdown({
                direction: 'upward'
            })
        ;
        $('#category-menu h4').click(function (item) {
            queryParameters['category'] = item.toElement.dataset['value'];
            location.search = $.param(queryParameters);
        });
        $('#sort-menu h4').click(function (item) {
            queryParameters['sort'] = item.toElement.dataset['value'];
            location.search = $.param(queryParameters);
        });
    </script>
{% endblock scripts %}
