{% extends 'base.html' %}
{% load i18n static kala_tags %}

{% block content %}
    <div class="repo ribbon">
        <div class="ui container">
            <div class="ui big breadcrumb">
                <h2>{% trans 'Projects' %}</h2>
            </div>
        </div>
        <div class="ui divider"></div>
    </div>

    <div class="ui container">

        <div class="repo title">
            <a href="{% url 'projects:new_project' %}">
                <div class="ui positive compact icon button">
                    + {% trans 'New project' %}
                </div>
            </a>
        </div>
        <div class="ui divider">
        </div>
        <div class="twelve wide column">
            <div class="ui styled fluid accordion">
                {% for organization in organizations %}
                    <div class="title active">
                        <i class="dropdown icon"></i>
                        {{ organization }}
                    </div>
                    <div class="content {% if forloop.first %}active{% endif %}">
                        <div class="transition visible" style="display: block !important;">
                            <div class="ui grid">
                                {% for project in organization|users_projects:request.user %}
                                    <div class="four wide column">
                                    <a href="{% url 'projects:project' project.pk %}">
                                        {{ project }}
                                    </a>

                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock content %}

{% block scripts %}
    <script>
        $('.ui.styled.fluid.accordion')
            .accordion()
        ;
    </script>
{% endblock scripts %}
