{% extends 'base.html' %}
{% load i18n static kala_tags %}

{% block content %}
   {% include 'projects/includes/header.html' %}

    <div class="ui two column grid container">
       {% include 'projects/includes/sidebar.html' %}

        <div class="twelve wide column">
            {% if messages %}
                <div class="ui success message">
                    <i class="close icon"></i>
                    <ul class="messages" style="margin-top: 0">
                        {% for message in messages %}
                            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
            <table class="ui celled table">
                <thead>
                <tr>
                    <th>{% trans 'Name' %}</th>
                    <th>{% trans 'Edit' %}</th>
                    <th>{% trans 'Delete' %}</th>
                </tr>
                </thead>
                <tbody>
                {% for category in categories %}
                    <tr>
                        <td>
                            {{ category.name }}
                        </td>
                        <td>
                            <a href="{% url 'projects:edit_category' project.pk category.pk %}">
                                <button class="ui primary button">{% trans 'Edit' %}</button>
                            </a>
                        </td>
                        <td>
                            <button onclick="deleteCategory({{ category.pk }});" class="ui negative button">{% trans 'Delete' %}</button>
                        </td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="3">{% trans 'There are no categories for this project.' %}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="ui basic modal">
        <div class="ui icon header">
            <i class="organization icon"></i>
            {% trans 'Delete Category' %}
        </div>
        <div class="content">
            <p>{% trans 'Are you sure that you want to delete this category?' %}</p>
        </div>
        <div class="actions">
            <div class="ui green cancel inverted button">
                <i class="stop icon"></i>
                {% trans 'No' %}
            </div>
            <div class="ui red basic ok inverted button">
                <i class="trashcan icon"></i>
                {% trans 'Yes' %}
            </div>
        </div>
    </div>
    {% csrf_token %}
{% endblock content %}

{% block scripts %}
<script>
    var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();
    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }
    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });

    function deleteCategory(pk) {
        $('.ui.basic.modal')
            .modal({
                onApprove: function () {
                $.ajax({
                        url: '{% url 'projects:categories' project.pk %}' + '/' + pk,
                        type: 'DELETE',
                        success: function () {
                            location.reload();
                        },
                        error: $.noop
                    });
                }
            })
            .modal('show')
        ;
    }
</script>
{% endblock %}
