{% extends 'base.html' %}
{% load i18n static kala_tags %}

{% block search_bar %}
    {% include 'projects/includes/project_search_bar.html' %}
{% endblock %}

{% block content %}
   {% include 'projects/includes/header.html' %}

    <div class="ui two column grid container">
        {% include 'projects/includes/sidebar.html' %}

        <div class="twelve wide column">
           <form class="ui form" method="post">
                {% csrf_token %}
                <div class="field">
                    <label>{% trans 'Re-enter projects name to delete the project' %}</label>
                    <input id="projectName" type="text" name="projectName" placeholder="Project Name" required>
                </div>
                  <div class="ui error message"></div>
                <div class="ui submit button negative">{% trans 'Delete project' %}</div>
            </form>
        </div>
    </div>
{% endblock content %}

{% block scripts %}
<script>
        $('.ui.form')
            .form({
                fields: {
                    projectName: {
                        rules: [
                            {
                                type: 'isExactly[{{ project.name }}]',
                                prompt: 'You must enter the project name as it appears in the application.'
                            }
                        ]
                    }
                }
            })
        ;
    </script>
{% endblock scripts %}
