{% extends 'base.html' %}
{% load i18n static kala_tags %}

{% block content %}
   {% include 'projects/includes/header.html' %}

    <div class="ui two column grid container">
       {% include 'projects/includes/sidebar.html' %}

        <div class="twelve wide column">
            {% if messages %}
                <div class="ui success message">
                    <i class="close icon"></i>
                    <ul class="messages" style="margin-top: 0">
                        {% for message in messages %}
                            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
            <form class="ui form {% if form.errors %}error{% endif %}" method="post">
                {% csrf_token %}
                <div class="field">
                    <label>{{ form.name.label }}</label>
                    {{ form.name }}
                    {% if form.name.errors %}
                    <div class="ui error message">
                        {{ form.name.errors }}
                    </div>
                    {% endif %}
                </div>
                <div class="field">
                    <label>{{ form.description.label }}</label>
                    {{ form.description }}
                    {% if form.description.errors %}
                    <div class="ui error message">
                        {{ form.description.errors }}
                    </div>
                    {% endif %}
                </div>
                <div class="field">
                    <label>{{ form.tags.label }}</label>
                    {{ form.tags }}
                    {% if form.tags.errors %}
                    <div class="ui error message">
                        {{ form.tags.errors }}
                    </div>
                    {% endif %}
                </div>
                <button class="ui button primary" type="submit">{% trans 'Update details' %}</button>
            </form>
        </div>
    </div>
{% endblock content %}
