{% extends 'base.html' %}
{% load i18n static kala_tags %}

{% block content %}
   {% include 'projects/includes/header.html' %}

    <div class="ui two column grid container">
       {% include 'projects/includes/sidebar.html' %}

        <div class="twelve wide column">
            {% if messages %}
                <div class="ui success message">
                    <i class="close icon"></i>
                    <ul class="messages" style="margin-top: 0">
                        {% for message in messages %}
                            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
            <form class="ui form {% if form.errors %}error{% endif %}" method="post">
                {% csrf_token %}
                <div class="field">
                    <label>{{ form.name.label }}</label>
                    {{ form.name }}
                    {% if form.name.errors %}
                    <div class="ui error message">
                        {{ form.name.errors }}
                    </div>
                    {% endif %}
                </div>
                <div class="field">
                    <label>{{ form.description.label }}</label>
                    {{ form.description }}
                    {% if form.description.errors %}
                    <div class="ui error message">
                        {{ form.description.errors }}
                    </div>
                    {% endif %}
                </div>
                <div class="field">
                    <label>{{ form.tags.label }}</label>
                    <input type="hidden" name="tags" id="id_tags">
                    <input type="text" name="tags_input" id="id_tags_input" onkeyup="return handleTags(event)" placeholder="Type the tag, then press enter">
                    <div style="display: inline-block; padding-top: 10px;" id="tags"></div>

                    {% if form.tags.errors %}
                    <div class="ui error message">
                        {{ form.tags.errors }}
                    </div>
                    {% endif %}
                </div>
                <button class="ui button primary" type="submit">{% trans 'Update details' %}</button>
            </form>
        </div>
    </div>
{% endblock content %}

{% block scripts %}
    <script type="application/ecmascript">
        let tags = [];
        window.addEventListener('keydown', function (e) {
            if (e.keyIdentifier === 'U+000A' || e.keyIdentifier === 'Enter' || e.keyCode === 13) {
                if (e.target.nodeName === 'INPUT' && e.target.type === 'text' && e.target.name != 'search') {
                    e.preventDefault();
                    return false;
                }
            }
        }, true);

        function handleTags(event) {
            event.preventDefault();
            if (event.which === 13) {
                let tagValue = $('#id_tags_input').val();
                if (tagValue != '') {
                    tags.push(tagValue);
                    $('#tags').append('<a class="ui blue tag label">' + tagValue + '<span class="delete icon" onclick="deleteTag(this)">X</span></a>');
                    $('#id_tags').val(tags.join(','));
                    $('#id_tags_input').val("");
                }
            }
        }

        function deleteTag(element) {
            let index = $(element).parent().index();
            tags.splice(index, 1);
            $("#tags").children().eq(index).remove();
            $('#id_tags').val(tags.join(','));
        }

        $(document).ready(function () {
            {% for tag in project.tags.all %}
                var tagValue = "{{ tag }}";
                tags.push(tagValue);
                $('#tags').append('<a class="ui blue tag label">' + tagValue + '<span class="delete icon" onclick="deleteTag(this)">X</span></a>');
                $('#id_tags').val(tags.join(','));
            {% endfor %}
        })
    </script>

{% endblock %}