{% extends 'base.html' %}
{% load i18n static kala_tags %}

{% block content %}
   {% include 'projects/includes/header.html' %}

    <div class="ui two column grid container">
       {% include 'projects/includes/sidebar.html' %}

        <div class="twelve wide column">
            {% if messages %}
                <div class="ui success message">
                    <i class="close icon"></i>
                    <ul class="messages" style="margin-top: 0">
                        {% for message in messages %}
                            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
        {{ form.errors }}
            <form id="form" class="ui form" method="post">
                {% csrf_token %}
                <div id="user-form"></div>
                <div class="field"></div>
                <button class="ui button primary" type="submit">{% trans 'Manage access' %}</button>
            </form>
        </div>
    </div>

{% endblock content %}

{% block scripts %}
    <script>
        var users = [
            {% for user in users %}
                {
                    name: "{{ user.user|safe }}",
                    id: {{ user.user.id }},
                    can_create: "{% if user.can_create %}True{% else %}False{% endif %}",
                    can_invite: "{% if user.can_invite %}True{% else %}False{% endif %}",
                    can_manage: "{% if user.can_manage %}True{% else %}False{% endif %}",
                },
            {% endfor %}
        ];
    </script>
    <script src="/static/javascript/bundle.js"></script>

{% endblock %}
