{% extends 'base.html' %}
{% load i18n static kala_tags %}

{% block content %}
    {% include 'projects/includes/header.html' %}

    <div class="ui two column grid container">
        {% include 'projects/includes/sidebar.html' %}

        <div class="twelve wide column">
            {% if messages %}
                <div class="ui success message">
                    <i class="close icon"></i>
                    <ul class="messages" style="margin-top: 0">
                        {% for message in messages %}
                            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
            <div id="project-permissions-form"></div>
        </div>
    </div>

{% endblock content %}

{% block scripts %}
    <script>
        $('.ui.dropdown')
            .dropdown()
        ;
        $('.tooltip > i')
          .popup({
          })
        ;
    </script>
    <script src="/static/javascript/bundle.js"></script>
{% endblock %}
