{% extends 'base.html' %}
{% load static %}
{% load kala_tags %}

{% block content %}
    <div class="repo ribbon">
        <div class="ui container">
            <div class="ui big breadcrumb">
                <a class="section" href="{% url 'organizations:organization' project.organization.pk %}">{{ project.organization }}</a>
                <div class="divider"> /</div>
                <span class="active section">{{ project }}</span>
            </div>
        </div>
    </div>

    <div class="ui tabular menu">
        <div class="ui container">
            <a class="item" href="{% url 'projects:project' project.pk %}">
                <i class="book icon"></i>
                Documents
            </a>
            <a class="item" href="{% url 'projects:project_invite_user' project.pk %}">
                <i class="person icon"></i>
                Invite User
            </a>
            <a class="active item" href="{% url 'projects:details' project.pk %}">
                <i class="gear icon"></i>
                Settings
            </a>
        </div>
    </div>


    <div class="ui two column grid container">
        <div class="four wide column">
            <div class="ui vertical menu">
                <div class="item">
                    <div class="header">Project</div>
                    <div class="menu">
                        <a class="item" href="{% url 'projects:details' project.pk %}">Details</a>
                        <a class="item" href="{% url 'projects:archive' project.pk %}">Archive</a>
                    </div>
                </div>
                <div class="item">
                    <div class="header">People</div>
                    <div class="menu">
                        <a class="item" href="{% url 'projects:manage_access' project.pk %}">Manage access</a>
                    </div>
                </div>
                <div class="item">
                    <div class="header">Organizations</div>
                    <div class="menu">
                        <a class="active item" href="{% url 'projects:transfer_ownership' project.pk %}">Transfer ownership</a>
                    </div>
                </div>
                <div class="item">
                    <div class="header">Categories</div>
                    <div class="menu">
                        <a class="item" href="{% url 'projects:categories' project.pk %}">Manage categories</a>
                        <a class="item" href="{% url 'projects:new_category' project.pk %}">New category</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="twelve wide column">
            {% if messages %}
                <div class="ui success message">
                    <i class="close icon"></i>
                    <ul class="messages" style="margin-top: 0">
                        {% for message in messages %}
                            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
            <form id="form" class="ui form" method="post">
                {% csrf_token %}
                <div class="field">
                    <label>{{ form.organization.label }}</label>
                    {{ form.organization }}
                </div>
                <button id="submit-button" class="ui button primary" type="button">Transfer ownership</button>
            </form>
            <div class="ui basic modal">
                <div class="ui icon header">
                    <i class="organization icon"></i>
                    Transfer Project Ownership
                </div>
                <div class="content">
                    <p>Are you sure that you want to transfer this project to another organization?</p>
                </div>
                <div class="actions">
                    <div class="ui red basic cancel inverted button">
                        <i class="trashcan icon"></i>
                        No
                    </div>
                    <div class="ui green ok inverted button">
                        <i class="check icon"></i>
                        Yes
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

{% block scripts %}
    <script>
        $('.ui.basic.modal')
            .modal({
                onApprove: function () {
                    $('#form').submit();
                }
            })
            .modal('attach events', '#submit-button', 'show')
        ;

        $('select.search.dropdown')
            .dropdown()
        ;
    </script>
{% endblock scripts %}
