{% extends 'base.html' %}
{% load static %}
{% block nav-bar %}
<div class="navbar navbar-fixed-top">

    <div class="navbar-inner">

        <div class="container">

            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>

            <a class="brand" href="../../documents/templates">
                Kala - Document Management
            </a>
        </div>
    </div>
</div>
{% endblock nav-bar %}

{% block sub-nav-bar %}{% endblock sub-nav-bar %}

{% block content %}

    <div class="span8">
        <div class="widget">
            <div class="widget-header">
                <i class="icon-edit"></i>

                <h3>{{ name}}</h3>
            </div>
            <!-- /widget-header -->
            <div id="documents" class="widget-content">

            </div>
            <!-- /widget-content -->
        </div>
        <!-- /widget -->
    </div>
    <div class="span4">
        <div class="widget">
            <div class="widget-header">
                <i class="icon-cog"></i>

                <h3>Options</h3>

            </div>
            <!-- /widget-header -->
            <div class="widget-content">
                <form class="form-horizontal" method="post" action="{% url 'basecamp_import' %}">
                    {% csrf_token %}
                    <div class="form-actions">
                        <button type="submit" class="button btn btn-primary btn-large" name="update-information">Update
                            Information
                        </button>
                    </div>
                </form>
                <form class="form-horizontal" method="post" action="{% url 'basecamp_import' %}">
                    {% csrf_token %}
                    <div class="form-actions">
                        <button type="submit" class="button btn btn-primary btn-large" name="update-documents">Update
                            Document Files
                        </button>
                    </div>
                </form>            </div>
            <!-- /widget-content -->
        </div>
        <!-- /widget -->
    </div>
{% endblock content %}

