{% load i18n kala_tags %}

{% with active=request.path|header %}
<div class="repo ribbon">
    <div class="ui container">
        <div class="ui big breadcrumb">
            <a class="section"
               href="{% url 'organizations:organization' project.organization.pk %}">{{ project.organization }}</a>
            <div class="divider"> /</div>
            <span class="active section">{{ project }}</span>
        </div>
    </div>
</div>

<div class="ui tabular menu">
    <div class="ui container">
        <a class="item {% if active == 'main' %}active{% endif %}" href="{% url 'projects:project' project.pk %}">
            <i class="book icon"></i>
            {% trans 'Documents' %}
        </a>
        <a class="item {% if active == 'invite_user' %}active{% endif %}" href="{% url 'projects:project_invite_user' project.pk %}">
            <i class="person icon"></i>
            {% trans 'Invite User' %}
        </a>
        <a class="item {% if active == 'settings' %}active{% endif %}" href="{% url 'projects:details' project.pk %}">
            <i class="gear icon"></i>
            {% trans 'Settings' %}
        </a>
    </div>
</div>
{% endwith %}