{% load i18n %}

<div class="four wide column">
    <div class="ui vertical menu">
        <div class="item">
            <div class="header">{% trans 'Project' %}</div>
            <div class="menu">
                <a class="item {% if request.resolver_match.url_name == 'details' %}active{% endif %}" href="{% url 'projects:details' project.pk %}">{% trans 'Details' %}</a>
                <a class="item {% if request.resolver_match.url_name == 'archive' %}active{% endif %}" href="{% url 'projects:archive' project.pk %}">{% trans 'Archive' %}</a>
                <a class="item {% if request.resolver_match.url_name == 'delete' %}active{% endif %}" href="{% url 'projects:delete' project.pk %}">{% trans 'Delete' %}</a>
            </div>
        </div>
        <div class="item">
            <div class="header">{% trans 'People' %}</div>
            <div class="menu">
                <a class="item {% if request.resolver_match.url_name == 'manage_access' %}active{% endif %}" href="{% url 'projects:manage_access' project.pk %}">{% trans 'Manage access' %}</a>
            </div>
        </div>
        <div class="item">
            <div class="header">{% trans 'Organizations' %}</div>
            <div class="menu">
                <a class="item {% if request.resolver_match.url_name == 'transfer_ownership' %}active{% endif %}"
                   href="{% url 'projects:transfer_ownership' project.pk %}">{% trans 'Transfer ownership' %}</a>
            </div>
        </div>
        <div class="item">
            <div class="header">{% trans 'Categories' %}</div>
            <div class="menu">
                <a class="item {% if request.resolver_match.url_name == 'categories' %}active{% endif %}" href="{% url 'projects:categories' project.pk %}">{% trans 'Manage categories' %}</a>
                <a class="item {% if request.resolver_match.url_name == 'new_category' %}active{% endif %}" href="{% url 'projects:new_category' project.pk %}">{% trans 'New category' %}</a>
            </div>
        </div>
    </div>
</div>
