{% extends 'base.html' %}
{% load kala_tags %}

{% block projects_class %}active{% endblock %}

{% block content %}
    <div class="span12">
        <div class="breadcrumb ">
            <li><a href="{% url 'home' %}">Home</a> <span class="divider">/</span></li>
            <li class="active">Projects</li>
        </div>
    </div>

    <div class="{% if request.user.is_admin %}span8{% else %}span12{% endif %}">
        <div class="widget">
            <div class="widget-header">
                <i class="icon-edit"></i>

                <h3>Your Projects</h3>
            </div>
            <!-- /widget-header -->
            <div class="widget-content">
                <ul id="projects" class="news-items">
                    {% for company in companies %}
                        <li class="span6">
                            <div class="news-item-detail">
                                <h2 class="news-item-title" style="width: 100%">{{ company.name }}</h2>

                                <p class="news-item-preview" style="width: 100%">
                                    {% for project in company|users_projects:request.user %}
                                        <p style="margin-left: 15px;">
                                            <a href="{% url 'project' project.pk %}">{{ project }}</a>
                                            {% empty %}
                                            You are not assigned to any projects by this organization.
                                        </p>
                                    {% endfor %}
                                </p>
                            </div>
                        </li>
                    {% empty %}
                        You organization does not currently have any projects, if you are an administrator you may
                        create a new project with the form provided, otherwise you will have to contact an
                        administrator to create a project on your behalf.
                    {% endfor %}
                </ul>
            </div>
            <!-- /widget-content -->
        </div>
        <!-- /widget -->
    </div>

    {% if request.user.is_admin %}
        <div class="span4">
        <div class="widget">
            <div class="widget-header">
                <i class="icon-edit"></i>

                <h3>New Project</h3>
            </div>
            <!-- /widget-header -->
            <div id="project-form" class="widget-content">
                <form method="post" action="{% url 'projects' %}">
                    {% csrf_token %}
                    {{ form.as_table }}
                    <button id="create-button" type="submit" class="button btn btn-primary btn-large">Create Project
                    </button>
                </form>
            </div>
            <!-- /widget-content -->
        </div>
        <!-- /widget -->
    {% endif %}
</div>
{% endblock content %}

{% block tour %}
    <ol id="joyRideContent">
        <li data-id="projects">
            <p>If you are assigned to any projects, you can accesses them with the list below.</p>
                <p>Click on the name of the
                project, which should be colored blue. This will take you to the project page, where you can upload,
                download, and alter documents.
            </p>
            <p>
                If you are not assigned to any projects you will not see a list of projects.
            </p>
        </li>
        {% if request.user.is_admin %}
            <li data-id="project-form">
                <p>To create a new project, use the form provided above.</p>
            </li>
            <li data-id="id_name">
                <p>The name field will be the name of the new project.</p>
            </li>
            <li data-id="id_company">
                <p>You can choose which company the project will be under with the company select box.</p>
            </li>
            <li data-id="create-button">
                <p>When you are ready to create a new project, click the Create Project button and the project will be
                    created. You will come back to this page once the project has been created.</p>
            </li>
        {% endif %}
    </ol>
{% endblock tour %}