{% extends 'base.html' %}
{% load i18n static kala_tags %}

{% block content %}
    <div class="repo ribbon">
        <div class="ui container">
            <div class="ui big breadcrumb">
                <a class="section" href="{% url 'users:users' %}">{% trans 'Users' %}</a>
                <div class="divider"> /</div>
                <span class="active section">{{ user }}</span>
            </div>
        </div>
    </div>

    <div class="ui tabular menu">
        <div class="ui container">
            <a class="item" href="{% url 'users:users' %}">
                <i class="organization icon"></i>
                {% trans 'Users' %}
            </a>
            <a class="active item" href="{% url 'users:details' user.pk %}">
                <i class="gear icon"></i>
                {% trans 'Settings' %}
            </a>
        </div>
    </div>


    <div class="ui two column grid container">
        <div class="four wide column">
            <div class="ui vertical menu">
                <div class="item">
                    <div class="header">{% trans 'User' %}</div>
                    <div class="menu">
                        <a class="item" href="{% url 'users:details' user.pk %}">{% trans 'Details' %}</a>
                        <a class="active item" href="{% url 'users:avatar' user.pk %}">{% trans 'Avatar' %}</a>

{#                        <a class="item" href="{% url 'projects:archive' project.pk %}">Archive</a>#}
                    </div>
                </div>
{#                <div class="item">#}
{#                    <div class="header">People</div>#}
{#                    <div class="menu">#}
{#                        <a class="item" href="{% url 'projects:manage_access' project.pk %}">Manage access</a>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="item">#}
{#                    <div class="header">Organizations</div>#}
{#                    <div class="menu">#}
{#                        <a class="item" href="{% url 'projects:transfer_ownership' project.pk %}">Transfer ownership</a>#}
{#                    </div>#}
{#                </div>#}
            </div>
        </div>
        <div class="twelve wide column">
            {% if messages %}
                <div class="ui success message">
                    <i class="close icon"></i>
                    <ul class="messages" style="margin-top: 0">
                        {% for message in messages %}
                            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
            <form class="ui form {% if form.errors %}error{% endif %}" enctype="multipart/form-data" method="post">
                {% csrf_token %}
                <div class="field">
                    <label>{{ form.avatar.label }}</label>
                    {{ form.avatar }}
                    {% if form.avatar.errors %}
                    <div class="ui error message">
                        {{ form.avatar.errors }}
                    </div>
                    {% endif %}
                </div>
                <button class="ui button primary" type="submit">{% trans 'Update avatar' %}</button>
            </form>
        </div>
    </div>
{% endblock content %}
