{% extends 'base.html' %}
{% load i18n static kala_tags %}

{% block content %}
    <div class="repo ribbon">
        <div class="ui container">
            <div class="ui big breadcrumb">
                <a class="section" href="{% url 'users:users' %}">{% trans 'Users' %}</a>
                <div class="divider"> /</div>
                <span class="active section">{{ user }}</span>
            </div>
        </div>
    </div>

    <div class="ui tabular menu">
        <div class="ui container">
            <a class="item" href="{% url 'users:users' %}">
                <i class="organization icon"></i>
                Users
            </a>
            <a class="active item" href="{% url 'users:details' user.pk %}">
                <i class="gear icon"></i>
                {% trans 'Settings' %}
            </a>
        </div>
    </div>

    <div class="ui two column grid container">
        <div class="four wide column">
            <div class="ui vertical menu">
                <div class="item">
                    <div class="header">{% trans 'User' %}</div>
                    <div class="menu">
                        <a class="active item" href="{% url 'users:details' user.pk %}">{% trans 'Details' %}</a>
                        <a class="item" href="{% url 'users:avatar' user.pk %}">{% trans 'Avatar' %}</a>
                        <a class="item" href="{% url 'users:password' user.pk %}">{% trans 'Password' %}</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="twelve wide column">
            {% if messages %}
                <div class="ui success message">
                    <i class="close icon"></i>
                    <ul class="messages" style="margin-top: 0">
                        {% for message in messages %}
                            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
            <form class="ui form {% if form.errors %}error{% endif %}" method="post">
                {% csrf_token %}
                <div class="field">
                    <label>{{ form.email.label }}</label>
                    {{ form.email }}
                    {% if form.email.errors %}
                    <div class="ui error message">
                        {{ form.email.errors }}
                    </div>
                    {% endif %}
                </div>
                <div class="field">
                    <label>{{ form.first_name.label }}</label>
                    {{ form.first_name }}
                    {% if form.first_name.errors %}
                    <div class="ui error message">
                        {{ form.first_name.errors }}
                    </div>
                    {% endif %}
                </div>
                <div class="field">
                    <label>{{ form.last_name.label }}</label>
                    {{ form.last_name }}
                    {% if form.last_name.errors %}
                    <div class="ui error message">
                        {{ form.last_name.errors }}
                    </div>
                    {% endif %}
                </div>
                <div class="field">
                    <label>{{ form.title.label }}</label>
                    {{ form.title }}
                    {% if form.title.errors %}
                    <div class="ui error message">
                        {{ form.title.errors }}
                    </div>
                    {% endif %}
                </div>
                <div class="field">
                    <label>{{ form.timezone.label }}</label>
                    {{ form.timezone }}
                    {% if form.timezone.errors %}
                    <div class="ui error message">
                        {{ form.timezone.errors }}
                    </div>
                    {% endif %}
                </div>
                <div class="field">
                    <label>{{ form.mobile.label }}</label>
                    {{ form.mobile }}
                    {% if form.mobile.errors %}
                    <div class="ui error message">
                        {{ form.mobile.errors }}
                    </div>
                    {% endif %}
                </div>
                <div class="field">
                    <label>{{ form.office.label }}</label>
                    {{ form.office }}
                    {% if form.office.errors %}
                    <div class="ui error message">
                        {{ form.office.errors }}
                    </div>
                    {% endif %}
                </div>
                <button class="ui button primary" type="submit">{% trans 'Update details' %}</button>
            </form>
        </div>
    </div>
{% endblock content %}
