{% extends 'base.html' %}
{% load static %}

{% block addditional_style %}
    <link href="{% static 'css/pages/signin.css' %}" rel="stylesheet">
{% endblock addditional_style %}

{% block content %}
    <div class="account-container register stacked">

        <div class="content clearfix">

            <form action="" method="post">
                {% csrf_token %}
                <h1>Create Account</h1>

                <div class="login-fields">
                    <div class="field">
                        <label for="id_email">{{ form.email.label }}</label>
                        <input type="text" id="id_email" name="email" value=""
                               placeholder="{% if form.email.errors %}{{ form.email.errors.0 }}{% else %}{{ form.email.label }}{% endif %}"
                               class="login"/>
                    </div>
                    <!-- /field -->

                    <div class="field">
                        <label for="id_first_name">{{ form.first_name.label }}</label>
                        <input type="text" id="id_first_name" name="first_name" value=""
                               placeholder="{% if form.first_name.errors %}{{ form.first_name.errors.0 }}{% else %}{{ form.first_name.label }}{% endif %}"
                               class="login"/>
                    </div>
                    <!-- /field -->

                    <div class="field">
                        <label for="id_last_name">Last Name:</label>
                        <input type="text" id="id_last_name" name="last_name" value=""
                               placeholder="{% if form.last_name.errors %}{{ form.last_name.errors.0 }}{% else %}{{ form.last_name.label }}{% endif %}"
                               class="login"/>
                    </div>
                    <!-- /field -->
                    <div class="field">{{ form.company }}</div>
                </div>
                <!-- /login-fields -->

                <div class="login-actions">
                    <button class="button btn btn-primary btn-large">Create Account</button>
                </div>
                <!-- .actions -->

            </form>

        </div>
        <!-- /content -->

    </div> <!-- /account-container -->
{% endblock content %}
