{% extends 'base.html' %}
{% load static %}


{% block addditional_style %}
    <link href="{% static 'css/pages/signin.css' %}" rel="stylesheet">
{% endblock addditional_style %}

{% block nav-bar %}
<div class="navbar navbar-fixed-top">

    <div class="navbar-inner">

        <div class="container">

            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>

            <a class="brand" href="./">
                Kala - Document Management
            </a>
        </div>
    </div>
</div>
{% endblock nav-bar %}

{% block sub-nav-bar %}{% endblock sub-nav-bar %}

{% block content %}

    <div class="account-container">

        <div class="content clearfix">

            <form action="" method="post">
                {% csrf_token %}
                {{ form.errors }}
                <h1>Login</h1>

                <div class="login-fields">
                    <p>Login using your registered account:</p>

                    <div class="field">
                        <label for="id_username">{{ form.username.label_tag }}</label>
                        <input type="text" id="id_username" name="username" value="" placeholder="{% if form.username.errors %}{{ form.username.errors.0 }}{% else %}Username{% endif %}"
                               class="login username-field"/>
                    </div>
                    <!-- /field -->

                    <div class="field">
                        <label for="id_password">{{ form.password.label_tag }}</label>
                        <input type="password" id="id_password" name="password" value="" placeholder="{% if form.password.errors %}{{ form.password.errors.0 }}{% else %}Password{% endif %}"
                               class="login password-field"/>
                    </div>
                    <!-- /password -->

                </div>
                <!-- /login-fields -->

                <div class="login-actions">
                    <button class="button btn btn-warning btn-large">Login</button>
                </div>
                <!-- .actions -->
            </form>
        </div>
    </div>
{% endblock content %}

{% block extra %}{% endblock extra %}
{% block footer %}{% endblock footer %}
