{% extends 'base.html' %}
{% load static %}
{% load kala_tags %}

{% block projects_class %}active{% endblock %}

{% block content %}
    <div class="breadcrumb">
        <li><a href="{% url 'home' %}">Home</a> <span class="divider">/</span></li>
        <li><a href="{% url 'projects' %}">Projects</a> <span class="divider">/</span></li>
        <li><a href="{% url 'project' project.pk %}">{{ project }}</a> <span class="divider">/</span></li>
        <li class="active">User Permissions</li>
    </div>
    <div class="widget">
        <div class="widget-header">
            <i class="icon-user"></i>

            <h3>People</h3>
        </div>
        <!-- /widget-header -->
        <div class="widget-content">

            <form method="post" action="{% url 'permissions' project.pk %}">
                {% csrf_token %}
                <section id="accordions">
                    <h3>User Permissions</h3>

                    <div class="accordion" id="basic-accordion">
                        {% for form in forms %} {{ form.errors }}
                            <div class="accordion-group">

                                <div class="accordion-heading">
                                    <a class="accordion-toggle" data-toggle="collapse"
                                       data-parent="#basic-accordion" href="#{{ forloop.counter }}">
                                        {{ form.company }}
                                    </a>
                                </div>

                                <div id="{{ forloop.counter }}" class="accordion-body collapse">
                                    <div class="accordion-inner">

                                        {% for field in form %}
                                            {% if forloop.first %}
                                                <div class="span12"
                                                     style="font-weight: bold;">{{ field }} {{ field.label }}</div>
                                            {% else %}
                                                <div class="span2">{{ field }} {{ field.label }}</div>
                                            {% endif %}
                                        {% endfor %}

                                    </div>
                                </div>

                            </div>
                        {% endfor %}
                    </div>
                </section>


                <div class="form-actions">
                    <button type="submit" class="button btn btn-primary btn-large">Update Company Details</button>
                </div>
            </form>
        </div>
        <!-- /widget-content -->
    </div>
    <!-- /widget -->
{% endblock content %}

{% block additional_script %}
    <script type="text/javascript">
        $(document).ready(function () {
            // For each group, add the event handler to select/unselect all the checkboxes
            $(".company_checkbox").each(function () {
                var pk = $(this).attr('pk_id')
                var company_checkbox = $(this)
                $(this).change(function () {
                    var val = $(this).prop('checked')
                    $("input[pk=" + pk + "]").each(function () {
                        $(this).prop('checked', val);
                    })
                })

                // If a checkbox in a group is changed, unselect the main checkbox.
                // Also see if all the items in a group are selected, if thats true check the select/unselect all.
                var all_selected = true
                $("input[pk=" + pk + "]").each(function () {
                    $(this).click(function () {
                        $(company_checkbox).prop('checked', false)
                    })
                    if (!$(this).prop('checked')) {
                        all_selected = false
                    }
                })
                if (all_selected) {
                    $(this).prop('checked', true)
                }
            })
        })

    </script>
{% endblock additional_script %}