{% extends 'base.html' %}
{% load kala_tags %}

{% block projects_class %}active{% endblock %}

{% block content %}
    <div class="span12">
        <div class="breadcrumb ">
            <li><a href="{% url 'home' %}">Home</a> <span class="divider">/</span></li>
            <li class="active">Projects</li>
        </div>
    </div>

    <div class="{% if request.user.is_admin %}span8{% else %}span12{% endif %}">
        <div class="widget">
            <div class="widget-header">
                <i class="icon-edit"></i>

                <h3>Your Projects</h3>
            </div>
            <!-- /widget-header -->
            <div class="widget-content">
                <ul class="news-items">
                    {% for company in companies %}
                        <li class="span6">
                            <div class="news-item-detail">
                                <h2 class="news-item-title" style="width: 100%">{{ company.name }}</h2>

                                <p class="news-item-preview" style="width: 100%">
                                    {% for project in company|users_projects:request.user %}
                                        <p style="margin-left: 15px;">
                                            <a href="{% url 'project' project.pk %}">{{ project }}</a>
                                            {% empty %}
                                            You are not assigned to any projects by this organization.
                                        </p>
                                    {% endfor %}
                                </p>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <!-- /widget-content -->
        </div>
        <!-- /widget -->
    </div>

    {% if request.user.is_admin %}
        <div class="span4">
        <div class="widget">
            <div class="widget-header">
                <i class="icon-edit"></i>

                <h3>New Project</h3>
            </div>
            <!-- /widget-header -->
            <div class="widget-content">
                <form method="post" action="{% url 'projects' %}">
                    {% csrf_token %}
                    {{ form.as_table }}
                    <button type="submit" class="button btn btn-primary btn-large">Create Project</button>
                </form>
            </div>
            <!-- /widget-content -->
        </div>
        <!-- /widget -->
    {% endif %}
</div>
{% endblock content %}