{% extends 'base.html' %}
{% load static %}
{% load kala_tags %}
{% load pagination_tags %}

{% block projects_class %}active{% endblock %}

{% block content %}
    <div class="span12">
        <div class="breadcrumb">
            <li><a href="{% url 'home' %}">Home</a> <span class="divider">/</span></li>
            <li><a href="{% url 'projects' %}">Projects</a> <span class="divider">/</span></li>
            <li class="active">{{ project }}</li>
        </div>
    </div>

    <div class="span8">
        <div class="widget">
            <div class="widget-header">
                <i class="icon-edit"></i>

                <h3>{{ project.name }}{% if request.user.is_admin %} -
                    <a href="{% url 'permissions' project.pk %}">Edit Permissions</a>{% endif %}</h3>
            </div>
            <!-- /widget-header -->
            <div class="widget-content">
                {% autopaginate documents %}
                <p>
                    {% paginate %}
                </p><br/>
                {% for document in documents %}
                    <div>
                        <div style="float: left">
                            <img src="{% static document.get_icon %}" alt="{{ document.get_alt }}"
                                    style="width: 64px; height: 64px;"/>
                        </div>

                        <div style="margin-left: 75px;">
                            <h3>
                                {{ document.name }}
                                <a href="{% url 'download_document' document.uuid %}">
                                    <i class="icon-download-alt" style="font-size: 16pt;"></i>
                                </a>
                            </h3>

                            {% if document.description %}<h4>{{ document.description }}</h4>{% endif %}
                            by {{ document.person|pretty_user }}{% if document.category %} in
                            {{ document.category }}{% endif %}
                            on {{ document.created|date:"M j" }}, {{ document.file.size|filesizeformat }} - <a
                                href="{% url 'document' document.pk %}">Edit Document</a>
                            <ul>
                                {% for version in document.list_versions %}
                                    <li>
                                        <a href="{% url 'download_document' version.uuid %}">{{ version }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                {% endfor %}
                <p>
                    {% paginate %}
                </p>
            </div>
            <!-- /widget-content -->
        </div>
        <!-- /widget -->
    </div>
    <div class="span4">
        <div class="widget">
            <div class="widget-header">
                <i class="icon-cog"></i>

                <h3>Options</h3>

            </div>
            <!-- /widget-header -->
            <div class="widget-content">
                <div style="border-bottom: 1px dotted #CCC;">
                    <h4>Upload New Document</h4>

                    <form id="upload_form" method="post" action="{% url 'project' project.pk %}"
                          enctype='multipart/form-data'>
                        {% csrf_token %}
                        {{ form.as_table }}
                        <button id="upload" type="submit" class="button btn btn-primary btn-large"
                                onclick="uploadClicked()">Upload
                        </button>
                    </form>
                </div>
                <div style="border-bottom: 1px dotted #CCC;">
                    <h4>Sort By</h4>

                    <form method="get" action="">
                    </form>
                </div>
                <div>
                    <h4>Categories</h4>

                    <form method="get" action="">
                    </form>
                </div>
            </div>
            <!-- /widget-content -->
        </div>
        <!-- /widget -->
    </div>
    <script type="text/javascript">
        function uploadClicked() {
            $("#upload").attr("disabled", "disabled");
            $("#upload").text('Uploading...')
            $("#upload_form").submit()
        }
    </script>
{% endblock content %}
