{% extends 'base.html' %}
{% load i18n static kala_tags %}

{% block content %}
   {% include 'includes/header.html' %}

    <div class="ui two column grid container">
        {% include 'includes/sidebar.html' %}

        <div class="twelve wide column">
           <form class="ui form" method="post">
                {% csrf_token %}
                <div class="field">
                    <label>{% trans 'Re-enter organizations name to delete the organization' %}</label>
                    <input id="organizationName" type="text" name="organizationName" placeholder="organization Name" required>
                </div>
                  <div class="ui error message"></div>
                <div class="ui submit button negative">{% trans 'Delete organization' %}</div>
            </form>
        </div>
    </div>
{% endblock content %}

{% block scripts %}
<script>
        $('.ui.form')
            .form({
                fields: {
                    organizationName: {
                        rules: [
                            {
                                type: 'isExactly[{{ organization.name }}]',
                                prompt: 'You must enter the organization name as it appears in the application.'
                            }
                        ]
                    }
                }
            })
        ;
    </script>
{% endblock scripts %}
