{% extends 'base.html' %}
{% load static %}
{% load kala_tags %}

{% block content %}
    <div class="repo ribbon">
        <div class="ui container">
            <div class="ui big breadcrumb">
                <a class="section">{{ organization }}</a>
            </div>
        </div>
    </div>

    <div class="ui tabular menu">
        <div class="ui container">
            <a class="item" href="{% url 'organizations:invite_user' organization.pk %}">
                <i class="person icon"></i>
                Invite User
            </a>
            <a class="active item" href="{% url 'organizations:details' organization.pk %}">
                <i class="gear icon"></i>
                Settings
            </a>
        </div>
    </div>


    <div class="ui two column grid container">
        <div class="four wide column">
            <div class="ui vertical menu">
                <div class="item">
                    <div class="header">Organization</div>
                    <div class="menu">
                        <a class="active item" href="{% url 'organizations:details' organization.pk %}">Details</a>
                        <a class="item" href="">Archive</a>
                    </div>
                </div>
                <div class="item">
                    <div class="header">People</div>
                    <div class="menu">
                        <a class="item" href="{% url 'organizations:manage_access' organization.pk %}">Manage access</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="twelve wide column">
            {% if messages %}
                <div class="ui success message">
                    <i class="close icon"></i>
                    <ul class="messages" style="margin-top: 0">
                        {% for message in messages %}
                            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}

            <form class="ui form {% if form.errors %}error{% endif %}" method="post">
                {% csrf_token %}
                <div class="field">
                    <label>{{ form.name.label }}</label>
                    {{ form.name }}
                    {% if form.name.errors %}
                    <div class="ui error message">
                        {{ form.name.errors }}
                    </div>
                    {% endif %}
                </div>
                <div class="field">
                    <label>{{ form.address.label }}</label>
                    {{ form.address }}
                    {% if form.address.errors %}
                    <div class="ui error message">
                        {{ form.address.errors }}
                    </div>
                    {% endif %}
                </div>
                <div class="field">
                    <label>{{ form.address1.label }}</label>
                    {{ form.address1 }}
                    {% if form.address1.errors %}
                    <div class="ui error message">
                        {{ form.address1.errors }}
                    </div>
                    {% endif %}
                </div>
                <div class="field">
                    <label>{{ form.city.label }}</label>
                    {{ form.city }}
                    {% if form.city.errors %}
                    <div class="ui error message">
                        {{ form.city.errors }}
                    </div>
                    {% endif %}
                </div>
                <div class="field">
                    <label>{{ form.state.label }}</label>
                    {{ form.state }}
                    {% if form.state.errors %}
                    <div class="ui error message">
                        {{ form.state.errors }}
                    </div>
                    {% endif %}
                </div>
                <div class="field">
                    <label>{{ form.zip.label }}</label>
                    {{ form.zip }}
                    {% if form.zip.errors %}
                    <div class="ui error message">
                        {{ form.zip.errors }}
                    </div>
                    {% endif %}
                </div>
                <div class="field">
                    <label>{{ form.country.label }}</label>
                    {{ form.country }}
                    {% if form.country.errors %}
                    <div class="ui error message">
                        {{ form.country.errors }}
                    </div>
                    {% endif %}
                </div>
                <div class="field">
                    <label>{{ form.phone.label }}</label>
                    {{ form.phone }}
                    {% if form.phone.errors %}
                    <div class="ui error message">
                        {{ form.phone.errors }}
                    </div>
                    {% endif %}
                </div>
                <div class="field">
                    <label>{{ form.website.label }}</label>
                    {{ form.website }}
                    {% if form.phone.errors %}
                    <div class="ui error message">
                        {{ form.website.errors }}
                    </div>
                    {% endif %}
                </div>
               <button class="ui button primary" type="submit">Update details</button>
            </form>
        </div>
    </div>
{% endblock content %}
