{% extends 'base.html' %}
{% load static %}
{% load kala_tags %}

{% block content %}
    <div class="repo ribbon">
        <div class="ui container">
            <div class="ui big breadcrumb">
                <a class="section"
                   href="{% url 'organizations:organization' project.organization.pk %}">{{ project.organization }}</a>
                <div class="divider"> /</div>
                <a class="section" href="{% url 'projects:project' project.pk %}">{{ project }}</a>
                <div class="divider"> /</div>
                <span class="active section">{{ document }}</span>
            </div>
        </div>

        <div class="ui tabular menu">
            <div class="ui container">
                <a class="item">
                    <i class="git branch icon"></i>
                    Versions
                </a>
                {% if can_invite %}
                    <a class="item" href="{% url 'projects:document_invite_user' project.pk document.pk %}">
                        <i class="person icon"></i>
                        Invite User
                    </a>
                {% endif %}
                <a class="active item" href="{% url 'projects:document_details' project.pk document.pk %}">
                    <i class="gear icon"></i>
                    Settings
                </a>
            </div>
        </div>

    </div>

    <div class="ui two column grid container">
        <div class="four wide column">
            <div class="four wide column">
                <div class="ui vertical menu">
                    <div class="item">
                        <div class="header">Document</div>
                        <div class="menu">
                            <a class="active item"
                               href="{% url 'projects:document_details' document.project.pk document.pk %}">Details</a>
                            <a class="item" href="{% url 'projects:document_archive' document.project.pk document.pk %}"">Archive</a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="header">People</div>
                        <div class="menu">
                            <a class="item"
                               href="{% url 'projects:document_manage_access' document.project.pk document.pk %}">Manage
                                access</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="twelve wide column">
            <form class="ui form {% if form.errors %}error{% endif %}" method="post">
                {% csrf_token %}
                <div class="field">
                    <label>{{ form.name.label }}</label>
                    {{ form.name }}
                    {% if form.name.errors %}
                    <div class="ui error message">
                        {{ form.name.errors }}
                    </div>
                    {% endif %}
                </div>
                <div class="field">
                    <label>{{ form.category.label }}</label>
                    {{ form.category }}
                    {% if form.category.errors %}
                    <div class="ui error message">
                        {{ form.category.errors }}
                    </div>
                    {% endif %}
                </div>
                <div class="field">
                    <label>{{ form.tags.label }}</label>
                    {{ form.tags }}
                    {% if form.tags.errors %}
                    <div class="ui error message">
                        {{ form.tags.errors }}
                    </div>
                    {% endif %}
                </div>
                <button class="ui button primary" type="submit">Update details</button>
            </form>
        </div>
    </div>
{% endblock content %}

{% block scripts %}
    <script>
        $('select.search.dropdown')
            .dropdown()
        ;
    </script>
{% endblock scripts %}
