{% extends 'base.html' %}
{% load i18n static kala_tags %}
{% load kala_tags %}

{% block content %}
    <div class="repo ribbon">
        <div class="ui container">
            <div class="ui big breadcrumb">
                <a class="section"
                   href="{% url 'organizations:organization' project.organization.pk %}">{{ project.organization }}</a>
                <div class="divider"> /</div>
                <a class="section" href="{% url 'projects:project' project.pk %}">{{ project }}</a>
                <div class="divider"> /</div>
                <span class="active section">{{ document }}</span>
            </div>
        </div>

        <div class="ui tabular menu">
            <div class="ui container">
                <a class="item" href="{% url 'projects:document' project.pk document.pk %}">
                    <i class="git branch icon"></i>
                    {% trans 'Versions' %}
                </a>
                {% if can_invite %}
                    <a class="item" href="{% url 'projects:document_invite_user' project.pk document.pk %}">
                        <i class="person icon"></i>
                        {% trans 'Invite User' %}
                    </a>
                {% endif %}
                <a class="active item" href="{% url 'projects:document_details' project.pk document.pk %}">
                    <i class="gear icon"></i>
                    {% trans 'Settings' %}
                </a>
            </div>
        </div>

    </div>

    <div class="ui two column grid container">
        <div class="four wide column">
            <div class="ui vertical menu">
                <div class="item">
                    <div class="header">{% trans 'Document' %}</div>
                    <div class="menu">
                        <a class="item" href="{% url 'projects:document_details' document.project.pk document.pk %}">{% trans 'Details' %}</a>
                        <a class="item" href="{% url 'projects:document_archive' document.project.pk document.pk %}">{% trans 'Archive' %}</a>
                    </div>
                </div>
                <div class="item">
                    <div class="header">{% trans 'People' %}</div>
                    <div class="menu">
                        <a class="active item"
                           href="{% url 'projects:document_manage_access' document.project.pk document.pk %}">{% trans 'Manage access' %}</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="twelve wide column">
            {% if messages %}
                <div class="ui success message">
                    <i class="close icon"></i>
                    <ul class="messages" style="margin-top: 0">
                        {% for message in messages %}
                            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
            <form id="form" class="ui form" method="post">
                {% csrf_token %}
                <table class="ui very basic table">
                    <thead>
                    <tr>
                        <th>{% trans 'Name' %}</th>
                        <th>{% trans 'Manage access' %}</th>
{#                        <th>{% trans 'Manage document' %}</th>#}
{#                        <th>{% trans 'Delete document' %}</th>#}
                    </tr>
                    </thead>
                    {% for form in forms %}
                        <tr>
                            <td>
                                <h4 class="ui header">
                                    <div class="content">
                                        {{ form.user }}
                                    </div>
                                </h4>
                            </td>
                            <td>
                                <input type="hidden"
                                       id="{% for field in form %}{% if 'add_document' in field.name %}{{ field.auto_id }}{% endif %}{% endfor %}"
                                       name="{% for field in form %}{% if 'add_document' in field.name %}{{ field.name }}{% endif %}{% endfor %}"
                                       value="{% for field in form %}{% if 'add_document' in field.name %}{{ field.initial }}{% endif %}{% endfor %}">
                                <input type="hidden"
                                       id="{% for field in form %}{% if 'change_document' in field.name %}{{ field.auto_id }}{% endif %}{% endfor %}"
                                       name="{% for field in form %}{% if 'change_document' in field.name %}{{ field.name }}{% endif %}{% endfor %}"
                                       value="{% for field in form %}{% if 'change_document' in field.name %}{{ field.initial }}{% endif %}{% endfor %}">
                                <input type="hidden"
                                       id="{% for field in form %}{% if 'delete_document' in field.name %}{{ field.auto_id }}{% endif %}{% endfor %}"
                                       name="{% for field in form %}{% if 'delete_document' in field.name %}{{ field.name }}{% endif %}{% endfor %}"
                                       value="{% for field in form %}{% if 'delete_document' in field.name %}{{ field.initial }}{% endif %}{% endfor %}">
                                <div class="ui buttons">
                                    <button type="button" class="ui button {% if form.is_empty %}active{% endif %}" data-value="none_{% for field in form %}{% if 'add_document' in field.name %}{{ field.auto_id }}{% endif %}{% endfor %}"><i class="circle slash icon"></i>None</button>
                                    <button type="button" class="ui button {% for field in form %}{% if 'add_document' in field.name %}{% if field.initial %}active{% endif %}{% endif %}{% endfor %}" data-value="{% for field in form %}{% if 'add_document' in field.name %}{{ field.auto_id }}{% endif %}{% endfor %}"><i class="plus icon"></i>Create</button>
                                    <button type="button" class="ui button {% for field in form %}{% if 'change_document' in field.name %}{% if field.initial %}active{% endif %}{% endif %}{% endfor %}" data-value="{% for field in form %}{% if 'change_document' in field.name %}{{ field.auto_id }}{% endif %}{% endfor %}"><i class="megaphone icon"></i>Invite</button>
                                    <button type="button" class="ui button {% for field in form %}{% if 'delete_document' in field.name %}{% if field.initial %}active{% endif %}{% endif %}{% endfor %}" data-value="{% for field in form %}{% if 'delete_document' in field.name %}{{ field.auto_id }}{% endif %}{% endfor %}"><i class="briefcase icon"></i>Manage</button>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
                <div class="field"></div>
                <button class="ui button primary" type="submit">{% trans 'Manage access' %}</button>
            </form>
        </div>
    </div>

{% endblock content %}

{% block scripts %}
    <script>
        {#        $('.ui.styled.fluid.accordion')#}
        {#            .accordion()#}
        {#        ;#}
        $('.ui.checkbox')
            .checkbox()
        ;
 var
    $buttons = $('.ui.buttons .button'),
    $toggle  = $('.main .ui.toggle.button'),
    $button  = $('.ui.button').not($buttons).not($toggle),
    // alias
    handler = {

      activate: function() {
        $(this)
          .addClass('active')
          .siblings()
          .removeClass('active')
        ;
        let val = $(this).data('value');
        let parts = val.split('_');
        $("#id_add_document_" + parts[parts.length - 1]).val("False");
        $("#id_change_document_" + parts[parts.length - 1]).val("False");
        $("#id_delete_document_" + parts[parts.length - 1]).val("False");
        if (parts[0] !== "none") {
            $("#" + val).val("True")
        }
      }

    }
  ;

  $buttons
    .on('click', handler.activate)
  ;


  $toggle
    .state({
      text: {
        inactive : 'Vote',
        active   : 'Voted'
      }
    })
  ;
    </script>
{% endblock %}
