/*------------------------
[Table of contents]

1. Max Width:	767px
2. Max Width:	1200px
3. Max Width:	979px
-------------------------*/


/*------------------------------------------------------------------
[1. Max Width: 480px]
*/
@media (max-width: 440px) {
}


/*------------------------------------------------------------------
[1. Max Width: 480px]
*/
@media (max-width: 480px) {
    .navbar .container {
        text-align: center;
    }

    .navbar .container span {
        white-space: nowrap;
        margin-left: 0;
    }

    .control-group {
        margin-left: 0;
    }

    .projects ul, .people, .no-people {
        padding-left: 0;
    }

    .document-list h3 {
        line-height: 24px;
    }

    .document-name {
        margin-left: 60px;
    }

    .document-icon img {
        width: 50px;
    }

    .people li {
        display: block;
        width: 100%;
    }

    .checkbox.inline {
        margin-right: 0;
    }

    .account-container {
        width: 280px;
        margin-top: 35px;
    }

    .login-fields input {
        width: 160px;
    }
}


/*------------------------------------------------------------------
[2. min Width: 768px]
*/
@media (min-width: 768px) {
}

/*------------------------------------------------------------------
[3. Max Width: 767px]
*/
@media (max-width: 767px) {
    .navbar .container {
        padding: 0 10px;
    }

    .navbar, .subnavbar, .extra, .footer {
        margin-left: -20px;
        margin-right: -20px;
    }

    .subnavbar .subnavbar-inner {
        height: auto}

    .subnavbar .mainnav {
        border: medium none;
        display: block;
        height: auto;
        margin-bottom: 1.5em;
        margin-top: 1em;
        width: 100%;
    }

    .subnavbar .mainnav > li {
        border: medium none;
        float: none;
        height: auto;
        margin-bottom: 1em;
        text-align: left;
        width: 100%;
    }

    .subnavbar .mainnav > li > a {
        color: #CCCCCC;
        display: block;
        font-size: 13px;
        font-weight: 600;
        margin-right: 0.7em;
        padding-bottom: 5px;
        padding-top: 5px;
    }

    .subnavbar .mainnav > li > a > span {
        display: inline;
    }
    .subnavbar .mainnav > li > a > i {
        display: inline;
        font-size: 14px;
        margin-bottom: 0;
        margin-right: 0.5em;
    }
    .subnavbar .mainnav > li > a .caret {
        margin-top: 8px;
    }
    .subnavbar .mainnav > li.activ > a {
        background: #292929;
    }

    .subnavbar .mainnav > li.active > a {
        background: none;
    }

    /*.subnavbar .mainnav > li > a:hover {*/
        /*background-color: #292929;*/
/*}*/

    .subnavbar .dropdown .dropdown-menu {
        position: static;
        float: none;
        width: 100%;
        background: none;
        border: medium none;
        box-shadow: none;
    }

    .subnavbar .dropdown .dropdown-menu a {
        padding: 8px 40px;
        color: #FFF;
        font-weight: 600;
    }

    .subnavbar .dropdown .dropdown-menu::before,
    .subnavbar .dropdown .dropdown-menu::after {
        display: none;
    }
    .subnavbar .dropdown.open .caret {
        display: inline-block;
    }
    .extra .container {
        padding: 0 20px;
    }

    .extra-inner ul {
        margin-bottom: 14px;
    }

    .widget.no-pad .widget-content .span3, .widget.no-pad .widget-content .span6 {
        margin-left: 0;
    }

    address {
        min-height: 45px;
    }
}

/*------------------------------------------------------------------
[4. Max Width: 979px]
*/
@media (max-width: 979px) {
    .navbar-fixed-top {
        margin-bottom: 0;
    }

    .navbar .container {
        padding: 0 10px;
    }

}

/*------------------------------------------------------------------
[5. Max Width: 1200px]
*/
@media (max-width: 1200px) {
}