{% load static %}
{% load kala_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Kala - Document Management</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">

    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap-responsive.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/joyride-2.0.3.css' %}" rel="stylesheet">

    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600" rel="stylesheet">
    <link href="{% static 'css/font-awesome.css' %}" rel="stylesheet">



    <link href="{% static 'css/base-admin-2.css' %}" rel="stylesheet">
    <link href="{% static 'css/base-admin-2-responsive.css' %}" rel="stylesheet">

    <link href="{% static 'css/pages/dashboard.css' %}" rel="stylesheet">
    <link rel="icon" type="image/png" href="{% static 'img/kala-favicon.png' %}">

    {% block addditional_style %}

    {% endblock addditional_style %}
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

</head>

<body>
{% block nav-bar %}
    <div class="navbar navbar-fixed-top">

        <div class="navbar-inner">

            <div class="container">

                <a class="brand" href="{% url 'home' %}">
                    <img src="{% static 'img/kala-logo.png' %}" alt="Kala - Document Management Logo">
                    <span style="margin-left: 10px;">Kala Document Management</span>
                </a>

            </div>
            <!-- /container -->

        </div>
        <!-- /navbar-inner -->

    </div>
    <!-- /navbar -->
{% endblock nav-bar %}

{% block sub-nav-bar %}
    <div class="subnavbar">

        <div class="subnavbar-inner">

            <div class="container">

                <ul class="mainnav">

                    <li class="{% block home_class %}{% endblock %}">
                        <a href="{% url 'home' %}">
                            <i class="icon-home"></i>
                            <span>Home</span>
                        </a>
                    </li>

                    <li class="{% block projects_class %}{% endblock %}">
                        <a href="{% url 'projects' %}">
                            <i class="icon-edit"></i>
                            <span>Projects</span>
                        </a>
                    </li>

                    <li class="{% block people_class %}{% endblock %}">
                        <a href="{% url 'people' %}">
                            <i class="icon-group"></i>
                            <span>People</span>
                        </a>
                    </li>

                    <li onclick=launch_tour()>
                        <a>
                            <i class="icon-question-sign"></i>
                            <span>Help</span>
                        </a>
                    </li>

                    <li class="dropdown {% block account_class %}{% endblock %}">
                        <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="icon-user"></i>
                            <span>My Account</span>
                            <b class="caret"></b>
                        </a>

                        <ul class="dropdown-menu">
                            <li><a href="{% url 'edit_profile' request.user.pk %}">Edit Profile</a></li>
                            <li><a href="{% url 'logout' %}">Logout</a></li>
                        </ul>
                    </li>

                </ul>

            </div>
            <!-- /container -->

        </div>
        <!-- /subnavbar-inner -->

    </div>
    <!-- /subnavbar -->
{% endblock sub-nav-bar %}

<div class="main">

    <div class="main-inner">

        <div class="container">

            <div class="row">

                {% if messages %}
                    <div class="span12">
                        {% for message in messages %}
                            {% if message.level == 20 %}
                                <div class="alert alert-info">
                                    <a class="close" data-dismiss="alert">×</a>
                                    <strong>Information: </strong> {{ message }}.
                                </div>
                            {% endif %}
                            {% if message.level == 25 %}
                                <div class="alert alert-success">
                                    <a class="close" data-dismiss="alert">×</a>
                                    <strong>Success: </strong> {{ message }}.
                                </div>
                            {% endif %}
                            {% if message.level == 30 %}
                                <div class="alert alert-warning">
                                    <a class="close" data-dismiss="alert">×</a>
                                    <strong>Warning: </strong> {{ message }}.
                                </div>
                            {% endif %}
                            {% if message.level >= 35 %}
                                <div class="alert alert-error">
                                    <a class="close" data-dismiss="alert">×</a>
                                    <strong>Error: </strong> {{ message }}.
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                {% endif %}

                {% block content %}

                {% endblock content %}

            </div>
            <!-- /row -->

        </div>
        <!-- /container -->

    </div>
    <!-- /main-inner -->

</div>
<!-- /main -->

{% block extra %}
    <div class="extra">

        <div class="extra-inner">

            <div class="container">

                <div class="row">

                    <div class="span3">

                        <h4>About</h4>

                        <ul>
                            <li><a href="javascript:;">About Us</a></li>
                            <li><a href="javascript:;">Twitter</a></li>
                            <li><a href="javascript:;">Facebook</a></li>
                            <li><a href="javascript:;">Google+</a></li>
                        </ul>

                    </div>
                    <!-- /span3 -->

                    <div class="span3">

                        <h4>Support</h4>

                        <ul>
                            <li><a href="javascript:;">Frequently Asked Questions</a></li>
                            <li><a href="javascript:;">Ask a Question</a></li>
                            <li><a href="javascript:;">Video Tutorial</a></li>
                            <li><a href="javascript:;">Feedback</a></li>
                        </ul>

                    </div>
                    <!-- /span3 -->

                    <div class="span3">

                        <h4>Legal</h4>

                        <ul>
                            <li><a href="javascript:;">License</a></li>
                            <li><a href="javascript:;">Terms of Use</a></li>
                            <li><a href="javascript:;">Privacy Policy</a></li>
                            <li><a href="javascript:;">Security</a></li>
                        </ul>

                    </div>
                    <!-- /span3 -->

                    <div class="span3">

                        <h4>Settings</h4>

                        <ul>
                            <li><a href="javascript:;">Consectetur adipisicing</a></li>
                            <li><a href="javascript:;">Eiusmod tempor </a></li>
                            <li><a href="javascript:;">Fugiat nulla pariatur</a></li>
                            <li><a href="javascript:;">Officia deserunt</a></li>
                        </ul>

                    </div>
                    <!-- /span3 -->

                </div>
                <!-- /row -->

            </div>
            <!-- /container -->

        </div>
        <!-- /extra-inner -->

    </div>
    <!-- /extra -->
{% endblock extra %}

{% block footer %}
    <div class="footer">

        <div class="footer-inner">

            <div class="container">

                <div class="row">

                    <div class="span12">
                        &copy; 2012 <a href="http://bootstrapadmin.com">Base Admin</a>.
                    </div>
                    <!-- /span12 -->

                </div>
                <!-- /row -->

            </div>
            <!-- /container -->

        </div>
        <!-- /footer-inner -->

    </div>
    <!-- /footer -->
{% endblock footer %}

{% block tour %}{% endblock tour %}

<!-- Placed at the end of the document so the pages load faster -->
<script src="{% static 'js/jquery-1.8.3.js' %}"></script>
<script src="{% static 'js/bootstrap.js' %}"></script>
<script src="{% static 'js/modernizr.mq.js' %}"></script>
<script src="{% static 'js/jquery.joyride-2.0.3.js' %}"></script>


<script type="text/javascript">
    function launch_tour() {
        $('#joyRideContent').joyride({});
    }
</script>

{% block additional_script %}
{% endblock additional_script %}
</body>
</html>
