{% load static %}
{% load kala_tags %}

<!DOCTYPE html>
<html>
<head>

    <!-- Standard Meta -->
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

    <!-- Site Properities -->
    <title>Kala Document Management</title>

    <!-- Always Use Same -->
    <link rel="stylesheet" type="text/css" href="{% static "css/ui/components/icon.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/ui/components/image.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/ui/components/transition.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/ui/components/checkbox.css" %}">

    <!--
      These css files are pre-compiled
      to test out gulp
      use static.html, run gulp from semantic/, and modify theme.config or variables
    !-->
    <link rel="stylesheet" rel="stylesheet" type="text/css" href="{% static "css/ui/components/material/form.css" %}">
    <link class="themable" rel="stylesheet" type="text/css" href="{% static "css/ui/components/material/accordion.css" %}">
    <link class="themable" rel="stylesheet" type="text/css" href="{% static "css/ui/components/material/checkbox.css" %}">
    <link class="themable" rel="stylesheet" type="text/css" href="{% static "css/ui/components/material/reset.css" %}">
    <link class="themable" rel="stylesheet" type="text/css" href="{% static "css/ui/components/material/site.css" %}">
    <link class="themable" rel="stylesheet" type="text/css" href="{% static "css/ui/components/material/breadcrumb.css" %}">
    <link class="themable" rel="stylesheet" type="text/css" href="{% static "css/ui/components/material/button.css" %}">
    <link class="themable" rel="stylesheet" type="text/css" href="{% static "css/ui/components/material/card.css" %}">
    <link class="themable" rel="stylesheet" type="text/css" href="{% static "css/ui/components/material/container.css" %}">
    <link class="themable" rel="stylesheet" type="text/css" href="{% static "css/ui/components/material/divider.css" %}">
    <link class="themable" rel="stylesheet" type="text/css" href="{% static "css/ui/components/material/dimmer.css" %}">
    <link class="themable" rel="stylesheet" type="text/css" href="{% static "css/ui/components/material/dropdown.css" %}">
    <link class="themable" rel="stylesheet" type="text/css" href="{% static "css/ui/components/material/form.css" %}">
    <link class="themable" rel="stylesheet" type="text/css" href="{% static "css/ui/components/material/grid.css" %}">
    <link class="themable" rel="stylesheet" type="text/css" href="{% static "css/ui/components/material/header.css" %}">
    <link class="themable" rel="stylesheet" type="text/css" href="{% static "css/ui/components/material/input.css" %}">
    <link class="themable" rel="stylesheet" type="text/css" href="{% static "css/ui/components/material/label.css" %}">
    <link class="themable" rel="stylesheet" type="text/css" href="{% static "css/ui/components/material/list.css" %}">
    <link class="themable" rel="stylesheet" type="text/css" href="{% static "css/ui/components/material/menu.css" %}">
    <link class="themable" rel="stylesheet" type="text/css" href="{% static "css/ui/components/material/message.css" %}">
    <link class="themable" rel="stylesheet" type="text/css" href="{% static "css/ui/components/material/modal.css" %}">
    <link class="themable" rel="stylesheet" type="text/css" href="{% static "css/ui/components/material/popup.css" %}">
    <link class="themable" rel="stylesheet" type="text/css" href="{% static "css/ui/components/material/reveal.css" %}">
    <link class="themable" rel="stylesheet" type="text/css" href="{% static "css/ui/components/material/segment.css" %}">
    <link class="themable" rel="stylesheet" type="text/css" href="{% static "css/ui/components/material/table.css" %}">

    <link rel="stylesheet" type="text/css" href="{% static "css/global.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/layouts/theme.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/layouts/home.css" %}">

</head>

<body id="home">
<!-- Global Header -->
<div class="page header">
    <div class="ui container">
        <div class="ui right floated icon text menu">
            <a class="launch icon item" data-content="Select a theme">
                <i class="disabled link paintcan icon"></i>
            </a>
            <a class="item" data-content="You have unread notification in this repository.">
                <span class="ui empty mini floating circular blue notification label"></span>
                <i class="bell icon"></i>
            </a>
            <div class="ui add top right pointing dropdown item" data-content="Create new...">
                <i class="large plus icon"></i>
                <i class="dropdown icon"></i>
                <div class="menu">
                    <a class="item">New organization</a>
                    <a class="item" href="{% url 'projects:new_project' %}">New project</a>
                    <div class="divider"></div>
                    <div class="header">This organization</div>
                    <a class="item">Invite someone</a>
                    <div class="divider"></div>
                    <div class="header">This project</div>
                    <a class="item">New document</a>
                </div>
            </div>
            <div class="user top right pointing ui dropdown item" data-content="View profile and more">
                <img class="ui mini rounded image" src="{{ request.user.avatar_url }}">
                <i class="dropdown icon"></i>
                <div class="menu">
                    <div class="user header">
                        Signed in as <b>{{ request.user }}</b>
                    </div>
                    <div class="divider"></div>
                    <a class="item" href="{% url 'edit_profile' request.user.pk %}">Your Profile</a>
                    <a class="item">Help</a>
                    <div class="divider"></div>
                    <a class="item">Sign Out</a>
                </div>
            </div>
        </div>

        <div class="ui text menu">
            <a class="icon item" href="http://www.github.com/semantic-org/semantic-ui/">
                <i class="huge emphasized github mark icon"></i>
            </a>
            <div class="item">
                <div class="ui small labeled input">
                    <div class="ui label">
                        This project
                    </div>
                    <input type="text" placeholder="Search">
                </div>
                <a class="item" href="{% url 'projects:projects' %}">
                    <b>Projects</b>
                </a>
                <a class="item">
                    <b>Organizations</b>
                </a>
                <a class="item">
                    <b>People</b>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="page content">
    {% block content %}
    {% endblock content %}
</div>
<div class="footer">
    <div class="ui container">
        <div class="ui section divider"></div>
        <div class="ui small right floated horizontal list">
            <a class="item" href="#">Status</a>
            <a class="item" href="#">API</a>
            <a class="item" href="#">Training</a>
            <a class="item" href="#">Shop</a>
            <a class="item" href="#">Blog</a>
            <a class="item" href="#">About</a>
            <a class="item" href="#">Pricing</a>
        </div>
        <i class="large github mark icon"></i>
        <div class="ui small horizontal list">
            <div class="disabled item" href="#">&copy; 2017 Malolo Industries.</div>
            <a class="item" href="#">Terms</a>
            <a class="item" href="#">Privacy</a>
            <a class="item" href="#">Security</a>
            <a class="item" href="#">Contact</a>
            <a class="item" href="#">Help</a>
        </div>
    </div>
</div>

<!-- JS Includes -->
<script src="{% static "javascript/library/jquery.min.js" %}"></script>
<script src="{% static "css/ui/semantic.min.js" %}"></script>
<script src="{% static "javascript/home.js" %}"></script>
<script src="{% static "css/ui/components/accordion.js" %}"></script>
<script src="{% static "css/ui/components/checkbox.js" %}"></script>
<script src="{% static "css/ui/components/dimmer.js" %}"></script>
<script src="{% static "css/ui/components/form.js" %}"></script>
<script src="{% static "css/ui/components/modal.js" %}"></script>
<script src="{% static "css/ui/components/transition.js" %}"></script>

{% block scripts %}
{% endblock scripts %}
</body>

</html>
