{% extends 'base.html' %}
{% load i18n static kala_tags %}

{% block content %}
    <div class="repo ribbon">
        <div class="ui container">
            <div class="ui big breadcrumb">
                <h2>{% trans 'Home' %}</h2>
            </div>
        </div>
        <div class="ui divider"></div>
    </div>

    <div class="ui container">
        <div class="ui grid">
            <div class="twelve wide">
                <h3>{% trans 'Current Documents' %}</h3>
                <table class="ui celled table">
                    <thead>
                    <tr>
                        <th>{% trans 'Type' %}</th>
                        <th>{% trans 'Name' %}</th>
                        <th>{% trans 'Uploaded by' %}</th>
                        <th style="text-align: center;">{% trans 'Upload date' %}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for document in documents %}
                        <tr>
                            <td style="text-align: center;"><img src="{% static document.get_icon %}"
                                                                 alt="{{ document.get_alt }}"
                                                                 style="width: 64px; height: 64px;"/></td>
                            <td><a href="{% url 'projects:document' document.project.pk document.pk %}">{{ document.name }}</a></td>
                            <td>{{ document.user|pretty_user }}</td>
                            <td style="text-align: center;">{{ document.created|date:"M j" }}</td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan="4">{% trans 'You have not uploaded any documents.' %}</td>
                        </tr>
                    {% endfor %}

                    </tbody>
                </table>
            </div>

            <div class="one wide">
                <h3>{% trans 'Your Projects' %}</h3>
                <div class="ui relaxed divided list">
                    {% for organization in organizations %}
                        <div class="item">
                            <div class="content">
                                <a class="header">{{ organization.name }}</a>
                                <div class="description">{% for project in organization|users_projects:request.user %}

                                    <p style="margin-left: 15px; margin-top: 2px; margin-bottom: 2px;"><i
                                            class="icon-cog icon-"></i><a
                                            href="{% url 'projects:project' project.pk %}"> {{ project.name }}</a></p>
                                    {% empty %}
                                    <p style="margin-left: 15px;">{% trans 'You are not assigned to any projects by this organization.' %}</p>
                                {% endfor %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    </ul>
                </div>
            </div>

        </div>
    </div>
{% endblock content %}
