{% extends 'base.html' %}
{% load i18n static %}


{% block content %}
    <div class="repo ribbon">
        <div class="ui container">
            <div class="ui big breadcrumb">
                <h2 class="section">{% trans 'Search Results' %}</h2>
            </div>
        </div>

    <div class="ui divider"></div>

    </div>

    <div class="ui container">
        <!-- Repo Content -->
        <div class="ui four item top attached borderless stats menu">
            <a class="item">
                <i class="book icon"></i>
                <b>{{ document_count }}</b> {% trans 'documents' %}
            </a>
            <a class="item">
                <i class="git branch icon"></i>
                <b>{{ version_count }}</b> {% trans 'versions' %}
            </a>
{#            <a class="item">#}
{#                <i class="tag icon"></i>#}
{#                <b>{{ project.category_set.all.count }}</b> categories#}
{#            </a>#}
            <a class="item">
                <i class="organization icon"></i>
                <b>{{ user_count }}</b> {% trans 'contributors' %}
            </a>
        </div>
        <div class="ui bottom attached horizontal language segments">
            <div class="ui inverted yellow segment"></div>
            <div class="ui inverted purple segment"></div>
            <div class="ui inverted red segment"></div>
        </div>

        <div class="repo title">
            <div class="repo options">
                <div class="ui compact button">
                    {% trans 'Download ZIP' %}
                </div>
                <div class="ui labeled button">
                    <div class="ui compact floating watch dropdown button" data-content="Choose display options">
                        <input type="hidden" value="watching">
                        <i class="checklist icon"></i> {% trans 'Filter' %}
                        <i class="dropdown icon"></i>
                        <div class="menu">
                            {% for category in project.category_set.all %}
                                <div class="item" data-value="not-watching">
                                    <h4>{{ category }}</h4>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="ui labeled button">
                    <div class="ui compact floating watch dropdown button" data-content="Choose display options">
                        <input type="hidden" value="watching">
                        <i class="checklist icon"></i> Sort
                        <i class="dropdown icon"></i>
                        <div class="menu">
                            <div class="item" data-value="not-watching">
                                <h4>{% trans 'Alphabetically' %}</h4>
                            </div>
                            <div class="item" data-value="watching">
                                <h4>{% trans 'Date' %}</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                    <a class="ui positive compact icon button"">
                + {% trans 'New document' %}
            </a>
        </div>
        <div class="ui divider">
        </div>
        <div class="ui container">
            <div class="ui cards">
                {% for document in documents %}
                    <div class="ui card">
                        <div class="ui fade reveal image">
                            <img class="visible content" style="background-color: #f3f3f3"
                                 src="{% static document.documentversion_set.all.0.get_icon %}"
                                 alt="{{ document.documentversion_set.all.0.get_alt }}">
                            <img class="hidden content" src="{% static "images/icons/android-download.png" %}"
                                 alt="{{ document.documentversion_set.all.0.get_alt }}">
                        </div>
                        <div class="content">
                            <a class="header" style="word-wrap: break-word;" href="{% url 'projects:document' document.project.pk document.pk %}">{{ document.name }}</a>
                            <div class="meta">
                                {% if document.documentversion_set.all.count == 1 %}
                                    <span class="date">{% trans 'Created on {{ document.date }}' %}</span>
                                {% else %}
                                    <span class="date">{% trans 'Updated on {{ document.date }}' %}</span>
                                {% endif %}
                                by {{ document.documentversion_set.all.0.user }}
                            </div>
                            {% if document.documentversion_set.all.0.description %}
                                <div class="description" style="word-wrap: break-word;">
                                    {{ document.documentversion_set.all.0.description }}
                                </div>
                            {% endif %}
                        </div>
                        <div class="extra content">
                            <div class="ui top left pointing dropdown">
                                <i class="git branch icon"></i>
                                <span class="text">{% trans 'Versions {{ document.documentversion_set.all.count }}' %}</span>
                                <div class="menu">
                                    <div class="header">
                                        {% trans 'Download version' %}
                                        <div class="ui divider"></div>
                                    </div>
                                    <div class="item">
                                    <div class="ui relaxed divided list">
                                        {% for document_version in document.documentversion_set.all %}
                                            <div class="item">
                                                <div class="content">
                                                    <a class="header">{{ document_version.name }}</a>
                                                    <div class="description">{% trans 'By {{ document_version.user }} on {{ document_version.created|date:"SHORT_DATETIME_FORMAT" }}' %}</div>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>

                                    </div>
                                </div>
                            </div>
                            <div class="ui divider"></div>
                            <a class="ui compact button primary" href="{% url 'projects:new_version' document.project.pk document.pk %}">
                                + {% trans 'New version' %}
                            </a>
                        </div>
                    </div>
                    {% empty %}
                    <div class="ui container">{% trans 'There are no documents uploaded for this project.' %}</div>
                {% endfor %}

            </div>

            <div class="ui divider"></div>

            <div class="ui pagination menu">
                {% for page in page_range %}
                    <a class="{% if page == current_page %}active{% endif %} item"
                       href="{% url 'search' %}?page={{ page }}&search={{ request.GET.search }}">
                        {{ page }}
                    </a>
                {% endfor %}
            </div>
        </div>

    </div>
{% endblock content %}

{% block scripts %}
    <script>
        $('.dropdown')
            .dropdown({
                direction: 'upward'
            })
        ;
    </script>
{% endblock scripts %}
