{% extends 'base.html' %}
{% load static %}
{% load kala_tags %}

{% block people_class %}active{% endblock %}



{% block content %}
    <div class="span12">
        <div class="breadcrumb">
            <li><a href="{% url 'home' %}">Home</a> <span class="divider">/</span></li>
            <li class="active">People</li>
        </div>
    </div>

    <div class="{% if request.user.is_admin %}span8{% else %}span12{% endif %}">
        <div class="widget">
            <div class="widget-header">
                <i class="icon-user"></i>

                <h3>People</h3>
            </div>
            <!-- /widget-header -->
            <div class="widget-content">
                {% for company in companies %}
                    <h3 style="border-bottom: 1px solid #ddd; clear: both;">
                        {% if request.user.is_admin %}{{ company.name }} -<a href="{% url 'company' company.pk %}">
                            Edit</a>{% else %}{{ company }}{% endif %}</h3>
                    <ul>
                        <div style="padding-top: 20px;">
                            {% for person in company.get_people_list %}
                                <div class="span3" style="min-height: 80px;">
                                    <address>
                                        <strong>
                                            {% if request.user.is_admin %}
                                                {{ person|pretty_user }} -
                                                <a href="{% url 'edit_profile' person.pk %}">Edit</a>
                                            {% else %}
                                                {{ person|pretty_user }}
                                            {% endif %}
                                        </strong><br>
                                        {% if person.title %}
                                            {{ person.title }}<br>
                                        {% endif %}
                                        <a href="mailto:{{ person.email }}">{{ person.email }}</a><br>
                                        {% if person.office %}P: {{ person.office }}{% endif %}
                                    </address>
                                </div>
                            {% empty %}
                                <div class="span12">This organization does not have anyone assigned to it.</div>
                            {% endfor %}
                        </div>
                    </ul>
                {% endfor %}
            </div>
            <!-- /widget-content -->
        </div>
        <!-- /widget -->
    </div>

    {% if request.user.is_admin %}
        <div class="span4">
            <div class="widget">
                <div class="widget-header">
                    <h3>Create Company</h3>
                </div>
                <!-- /widget-header -->
                <div class="widget-content">
                    <form action="{% url 'people' %}" method="post">
                        {% csrf_token %}
                        <fieldset>
                            <div id="company" class="control-group {% if company_form.name.errors %}error{% endif %}">
                                <div class="controls">
                                    <label class="control-label" for="id_name" style="margin-left: 20px;">Company
                                        Name:</label>

                                    <div style="margin-left: 20px;">{{ company_form.name }}</div>
                                </div>
                                <div id="company-error"
                                     style="margin-left: 20px;{% if not company_form.name.errors %}display: none{% endif %}">
                                        <span for="id_file" class="error" style="display: inline">
                                            {% if company_form.name.errors %}
                                                {{ company_form.name.errors.0 }}{% else %}This field is
                                                required.{% endif %}</span>
                                </div>
                            </div>
                            <div class="form-actions">
                                <button type="submit" class="button btn btn-primary btn-large" name="create_company">
                                    Create Company
                                </button>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
            <!-- /widget -->
        </div>

        <div class="span4">
            <div class="widget">
                <div class="widget-header">
                    <h3>Create Person</h3>
                </div>
                <div class="widget-content">
                    <form action="{% url 'people' %}" method="post">
                        {% csrf_token %}
                        <fieldset>
                            <div class="control-group {% if person_form.email.errors %}error{% endif %}">
                                <div class="controls">
                                    <label class="control-label" for="id_email"
                                           style="margin-left: 20px;">Email:</label>

                                    <div style="margin-left: 20px;">{{ person_form.email }}</div>
                                </div>
                                <div style="margin-left: 20px;{% if not person_form.email.errors %}display: none{% endif %}">
                                        <span for="id_email" class="error" style="display: inline">
                                                {{ person_form.email.errors.0 }}</span>
                                </div>
                            </div>

                            <div class="control-group {% if person_form.first_name.errors %}error{% endif %}">
                                <div class="controls">
                                    <label class="control-label" for="id_first_name" style="margin-left: 20px;">First
                                        Name:</label>

                                    <div style="margin-left: 20px;">{{ person_form.first_name }}</div>
                                </div>
                                <div style="margin-left: 20px;{% if not person_form.first_name.errors %}display: none{% endif %}">
                                        <span for="id_email" class="error" style="display: inline">
                                                {{ person_form.first_name.errors.0 }}</span>
                                </div>
                            </div>

                            <div class="control-group {% if person_form.last_name.errors %}error{% endif %}">
                                <div class="controls">
                                    <label class="control-label" for="id_last_name" style="margin-left: 20px;">Last
                                        Name:</label>

                                    <div style="margin-left: 20px;">{{ person_form.last_name }}</div>
                                </div>
                                <div style="margin-left: 20px;{% if not person_form.last_name.errors %}display: none{% endif %}">
                                        <span for="id_email" class="error" style="display: inline">
                                                {{ person_form.last_name.errors.0 }}</span>
                                </div>
                            </div>

                            <div class="control-group {% if person_form.company.errors %}error{% endif %}">
                                <div class="controls">
                                    <label class="control-label" for="id_company" style="margin-left: 20px;">Select
                                        Company:</label>

                                    <div style="margin-left: 20px;">{{ person_form.company }}</div>
                                </div>
                                <div style="margin-left: 20px;{% if not person_form.company.errors %}display: none{% endif %}">
                                        <span for="id_email" class="error" style="display: inline">
                                                {{ person_form.company.errors.0 }}</span>
                                </div>
                            </div>
                            <div class="form-actions">
                                <button type="submit" class="button btn btn-primary btn-large" name="create_person">
                                    Create Person
                                </button>
                            </div>
                        </fieldset>
                    </form>
                </div>

                <!-- /widget-content -->
            </div>
        </div>

        <div class="span4">
            <div class="widget">
                <div class="widget-header">

                    <h3>Un-delete Company</h3>

                </div>
                <!-- /widget-header -->
                <div class="widget-content">
                    <p>
                        To un-delete a company, select it in the list below, then click un-delete.
                        If there are no deleted companies, this list will be empty.
                    </p>

                    <form action="{% url 'people' %}" method="post">
                        {% csrf_token %}
                        <fieldset>
                            <div id="company" class="control-group">
                                <div class="controls">
                                    <label class="control-label" for="id_company" style="margin-left: 20px;">
                                        Company:
                                    </label>

                                    <div style="margin-left: 20px;">{{ undelete_form.company }}</div>
                                </div>

                            </div>
                            <div class="form-actions">
                                <button type="submit" class="button btn btn-primary btn-large" name="undelete">
                                    Un-delete Company
                                </button>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock content %}
