{% extends 'base.html' %}
{% load kala_tags %}

{% block account_class %}{% if request.user == person %}active{% endif %}{% endblock %}
{% block people_class %}{% if request.user != person %}active{% endif %}{% endblock %}

{% block content %}
    {% if request.user != person %}
        <div class="span12">
            <div class="breadcrumb">
                <li><a href="{% url 'home' %}">Home</a> <span class="divider">/</span></li>
                <li><a href="{% url 'people' %}">People</a> <span class="divider">/</span></li>
                <li class="active">{{ person|pretty_user }}</li>
            </div>
        </div>
    {% endif %}

    <div class="span8">
    <div class="widget stacked ">

    <div class="widget-header">
        <i class="icon-user"></i>

        <h3>{% if person.pk == request.user.pk %}Your Profile
            {% else %}{{ person|pretty_user }}{% if person.last_name|slice:"-1:" == 's' %}'{% else %}'s
            {% endif %} Profile{% endif %}</h3>
    </div>
    <!-- /widget-header -->
    {{ form.errors }}
    <div class="widget-content">


    <div class="tabbable">
        <ul class="nav nav-tabs">
            <li class="active">
                <a href="#profile" data-toggle="tab">Profile</a>
            </li>
            <li><a href="#settings" data-toggle="tab">Settings</a></li>
        </ul>

        <br>

        <div class="tab-content">
            <div class="tab-pane active" id="profile">
                <form id="edit-profile" class="form-horizontal" method="post"
                      action="{% url 'edit_profile' person.pk %}">
                    {% csrf_token %}
                    <fieldset>

                        <div class="control-group">
                            <label class="control-label" for="username">Username</label>

                            <div class="controls">

                                <input type="text" class="disabled input-medium" id="username"
                                       value="{{ person.username }}" disabled>

                                <p class="help-block">Your username is for logging in and cannot be
                                    changed.</p>
                            </div>
                            <!-- /controls -->
                        </div>
                        <!-- /control-group -->
                        <div class="control-group">
                            <label class="control-label" for="company">Company</label>


                            <div class="controls">
                                <input type="text" class="span4 disabled" id="company"
                                       value="{{ person.company }}" disabled>
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label" for="id_first_name">First Name</label>

                            <div class="controls">
                                {{ form.first_name }}
                            </div>
                            <!-- /controls -->
                        </div>
                        <!-- /control-group -->


                        <div class="control-group">
                            <label class="control-label" for="id_last_name">Last Name</label>

                            <div class="controls">
                                {{ form.last_name }}
                            </div>
                            <!-- /controls -->
                        </div>
                        <!-- /control-group -->

                        <div class="control-group">
                            <label class="control-label" for="id_title">Title</label>

                            <div class="controls">
                                {{ form.title }}
                            </div>
                            <!-- /controls -->
                        </div>
                        <!-- /control-group -->

                        <div class="control-group">
                            <label class="control-label" for="id_email">Email Address</label>

                            <div class="controls">
                                {{ form.email }}
                            </div>
                            <!-- /controls -->
                        </div>
                        <!-- /control-group -->


                        <br/><br/>

                        <div class="control-group">
                            <label class="control-label" for="id_password">Password</label>

                            <div class="controls">
                                {{ form.password }}
                            </div>
                            <!-- /controls -->
                        </div>
                        <!-- /control-group -->


                        <div class="control-group">
                            <label class="control-label" for="id_confirm">Confirm</label>

                            <div class="controls">
                                {{ form.confirm }}
                            </div>
                            <!-- /controls -->
                        </div>
                        <!-- /control-group -->


                        <br/>


                        <div class="form-actions">
                            <button type="submit" class="button btn btn-primary btn-large">Update Profile
                            </button>
                        </div>
                        <!-- /form-actions -->
                    </fieldset>
                </form>
            </div>

            <div class="tab-pane" id="settings">
                <form id="edit-profile2" class="form-horizontal">
                    <fieldset>


                        <div class="control-group">
                            <label class="control-label" for="accounttype">Account Type</label>

                            <div class="controls">
                                <label class="radio">
                                    <input type="radio" name="accounttype" value="option1" checked="checked"
                                           id="accounttype">
                                    POP3
                                </label>
                                <label class="radio">
                                    <input type="radio" name="accounttype" value="option2">
                                    IMAP
                                </label>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="accountusername">Account Username</label>

                            <div class="controls">
                                <input type="text" class="input-large" id="accountusername"
                                       value="rod.howard@example.com">

                                <p class="help-block">Leave blank to use your profile email address.</p>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="emailserver">Email Server</label>

                            <div class="controls">
                                <input type="text" class="input-large" id="emailserver"
                                       value="mail.example.com">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="accountpassword">Password</label>

                            <div class="controls">
                                <input type="text" class="input-large" id="accountpassword"
                                       value="password">
                            </div>
                        </div>


                        <div class="control-group">
                            <label class="control-label" for="accountadvanced">Advanced Settings</label>

                            <div class="controls">
                                <label class="checkbox">
                                    <input type="checkbox" name="accountadvanced" value="option1"
                                           checked="checked" id="accountadvanced">
                                    User encrypted connection when accessing this server
                                </label>
                                <label class="checkbox">
                                    <input type="checkbox" name="accounttype" value="option2">
                                    Download all message on connection
                                </label>
                            </div>
                        </div>


                        <br/>

                        <div class="form-actions">
                            <button type="submit" class="btn btn-primary">Save</button>
                            <button class="btn">Cancel</button>
                        </div>
                    </fieldset>
                </form>
            </div>

        </div>


    </div>


    </div>
    <!-- /widget-content -->

    </div>
    <!-- /widget -->

    </div> <!-- /span8 -->


    <div class="span4">


        <div class="widget stacked widget-box">

            <div class="widget-header">
                <h3>Extra Info</h3>
            </div>
            <!-- /widget-header -->

            <div class="widget-content">


                <p>You can use this form to update you profile. On the profile page you can set the information
                    that other people you are working with will see. Also you can change your password here.
                    On the settings page, there are options to change the way you see information, such as timezone
                    and your locale.</p>

                {% if request.user.is_admin %}
                    <div style="border-bottom: 1px dotted #CCC; border-top: 1px dotted #CCC;">
                        <form method="post" action="{% url 'edit_profile' person.pk %}">
                            {% csrf_token %}

                            {% if person.is_admin %}
                                <p>To remove administration privileges from this user, click the button below.</p>
                                <p>
                                    <button type="submit" class="button btn btn-danger btn-large" name="toggle-admin">
                                        Remove Admin
                                    </button>
                                </p>
                            {% else %}
                                <p>To grant administrative privileges to this user, click the button below.</p>
                                <p>
                                    <button type="submit" class="button btn btn-primary btn-large"
                                            style="clear: both; margin-top: 5px;" name="toggle-admin">Grant Admin
                                    </button>
                                </p>
                            {% endif %}
                        </form>
                    </div>
                    <div style="border-bottom: 1px dotted #CCC; border-top: 1px dotted #CCC;">
                        <form method="post" action="{% url 'edit_profile' person.pk %}">
                            {% csrf_token %}
                            <p>To delete this user, click the button below.</p>

                            <p>
                                <button type="submit" class="button btn btn-danger btn-large" name="delete">
                                    Delete User
                                </button>
                            </p>
                        </form>
                    </div>

                {% endif %}
            </div>
            <!-- /widget-content -->

        </div>
        <!-- /widget-box -->
    </div>
{% endblock content %}